

##
## section wrapper
##
#if ($docextras.size() > 0)
 
#foreach ($docextra in $docextras)    
 <section id="${docextra.get(2).toLowerCase()}-wrapper">
          <h2>${docextra.get(2)}
#if($docextra.get(3) >= 0) 
                <span class="itemCount">$msg.get('docextra.extranb', [$docextra.get(3)])</span> 
              #end
          </h2>
          <div id="$docextra.get(2).toLowerCase()">

 #template($docextra.get(4))

</div>
</section>
#end

#end


