   #template("layoutvars.vm")

#if ($xcontext.action != 'edit')
#if (!$docextras)
  #set ($docextras = [])
  #if ($showcomments)
    #set ($discard = $docextras.add(['Comments', 'comments', $msg.get('docextra.comments'), $doc.getObjects('XWiki.XWikiComments').size(), 'commentsinline.vm', $msg.get('core.shortcuts.view.comments')]))
  #end
  #if ($showannotations)
    #if (!$annotationCount)
      ## Annotation count is supposed to be defined in xwikivars.vm. If for a reason or another it is not
      ## defined at this point, we tap into the standard annotation class, and do not load again the
      ## config document. This however should not happen.
      #set ($annotationCount = $doc.getObjects('AnnotationCode.AnnotationClass').size())
    #end
    #set ($discard = $docextras.add(['Annotations', 'annotations', $msg.get('docextra.annotations'), $annotationCount, 'annotationsinline.vm', $msg.get('core.shortcuts.view.annotations')]))
  #end
  #if ($showattachments)
    #set ($discard = $docextras.add(['Attachments', 'attachments', $msg.get('docextra.attachments'), $doc.getAttachmentList().size(), 'attachmentsinline.vm', $msg.get('core.shortcuts.view.attachments')]))
  #end
  #if ($showhistory)
    ## Pagination style
    #set ($discard = $docextras.add(['History', 'history', $msg.get('docextra.history'), -1, 'historyinline.vm', $msg.get('core.shortcuts.view.history')]))
  #end
  #if ($showinformation)
    #set ($discard = $docextras.add(['Information', 'information', $msg.get('docextra.information'), -1, 'informationinline.vm', $msg.get('core.shortcuts.view.information')]))
  #end
#end
#end 
##
## Display control icons
##

    <nav id="sidebar-control">
      <div id="sidebar-control-icons">
        <a href="#navigation"><div class="sprite sprite-navigation-png"></div></a>

        #if($xcontext.action == 'edit')
          <a href="#information"><div class="sprite sprite-information-png"></div></a>
        #end

        #if($xcontext.action != 'edit')
          <a href="#export"><div class="sprite sprite-export-png"></div></a>
        #end

        #if($hasEdit && !$isReadOnly && $xcontext.action != 'edit')
          #if($doc.fullName != 'Main.WebHome')
            <a href="#edit"><div class="sprite sprite-edit-png"></div></a>
          #end
        #end

#if($docextras.size() > 0)
        #foreach($docextra in $docextras)
            <a href="#${docextra.get(0).toLowerCase()}">
              <div class="sprite sprite-${docextra.get(0).toLowerCase()}-png">
                #if($docextra.get(3) >= 0) 
                  <span class="itemCount">$docextra.get(3)</span> 
                #end
              </div>
            </a>
        #end
#end

      </div>
##
## Display control links
##
      <div id="sidebar-control-links">
        <h2 style="visibility: hidden">x</h2>
        <ul>
          <li id="navigation-link" class="active"><a href="#navigation">Navigation</a></li>

          #if($xcontext.action == 'edit')
            <li id="information-link"><a href="#information">Information</a></li>
           #end
          
          #if($xcontext.action != 'edit')
            <li id="export-link"><a href="#export">Export</a></li>
          #end 

          #if($hasEdit && !$isReadOnly && $xcontext.action != 'edit')
            #if($doc.fullName != 'Main.WebHome')
              <li id="edit-link"><a href="#edit">Edit</a></li>
            #end
          #end

#if($docextras.size() > 0)
        #foreach($docextra in $docextras)
          <li>
            <a id="${docextra.get(0).toLowerCase()}-link" href="#${docextra.get(0).toLowerCase()}">
              $docextra.get(2) 
              #if($docextra.get(3) >= 0) 
                <span class="itemCount">$msg.get('docextra.extranb', [$docextra.get(3)])</span> 
              #end
            </a>
          </li>
        #end
#end       
      </ul>
    </div>
  </nav>



<div id="change">

  <section id="navigation">
        <nav class="global-nav">
          #if($showLeftPanels == "1" || $request.getParameter("forceLeftPanels"))
          <div id="leftPanels" class="panels left"#if($showLeftPanels != "1" && $request.getParameter("forceLeftPanels")) style="display: none;"#end>
          #foreach($panel in $leftPanels)
          #displaypanel($panel.trim())
          #end
          </div>
        #end
  </section>

#if($xcontext.action == 'edit')
  <section id="information-wrapper">
    <h2>Information</h2>
    <div id="page-suplemental">
      <div id="information">
         #template("editpanels.vm")
      </div>
    </div>
  </section>
#end

#if($displayContentMenu)
  #if($hasEdit && !$isReadOnly && $xcontext.action != 'edit')
    #if($doc.fullName != 'Main.WebHome')
      #template("editmenu.vm")
    #end
  #end

  ##
  ## Export menu
  ##
#if($xcontext.action != 'edit')
        <section id="export-wrapper">
          <h2>Export</h2>
          <div id="export">
  ## Actions menu
  #if(!$doc.isNew())
            <ul>
  #submenuitem($doc.getURL('view', "xpage=print&amp;$!docvariant") $msg.get('core.menu.preview') 'tmPrintPreview', '')
  #submenuitem($doc.getURL('view', "viewer=code") $msg.get('core.menu.view.source') 'tmViewSource', '')
            </ul>
  #end
  #if(!$doc.isNew())
            <h3 class="sub-menu">Save As</h3>
            <ul>
  ## Save As
    #submenuitem($doc.getURL('view', "xpage=pdfoptions&amp;$!docvariant") $msg.get('core.menu.export.pdf') 'tmExportPdf', '')
  #if("$!{oomanager.serverState}" == "Connected")
    #submenuitem($doc.getURL('export', "format=odt&amp;$!docvariant") $msg.get('core.menu.export.odt') 'tmExportOdt', '')
  #end
    #submenuitem($doc.getURL('export', "format=rtf&amp;$!docvariant") $msg.get('core.menu.export.rtf') 'tmExportRtf', '')
    #submenuitem($doc.getURL('export', "format=html&amp;$!docvariant") $msg.get('core.menu.export.html') 'tmExportHtml', '')
  #if($hasAdmin)
    #submenuitem($doc.getURL('export', "format=xar&amp;name=$escapetool.url($doc.fullName)&amp;pages=$escapetool.url($doc.fullName)&amp;$!docvariant") $msg.get('core.menu.export.xar') 'tmExportXar', '')
  #end
            </ul>
          </div>
        </section>

  #end
#end

#end <!--displayContentMenu-->



 #if( $displayDocExtra)
  <aside>
    #template("docextra.vm")
  </aside>
  #end


</div>