@import url("xwiki.css");
#template('colorThemeInit.vm')
article, aside, details, figcaption, figure, footer, header,
  hgroup, menu, nav, section { display: block; } /*html 5*/
.full,.half,.third{width:99.8%}
.third{width: 32%}
.half {width: 48%;}







/* global */
body{margin:0;overflow-x:hidden;padding:0}










strong {font-weight: 700}
em {font-style: italic}
h2,#sidebar-control-links ul li a{font-size:2em;letter-spacing:-2px}

/* clearfixes */
.xwikitabbar:after,.floatcontainer:after,#historycontent-wrapper:after,
.each-comment:after,#nav-icons:after,#page-actions:after,.menu-drop:after,#xo-content:after,#gadget-container:after,#sidebar-control-links ul li:after
{clear:left;content:".";display:block;height:0;visibility:hidden}
.wikigeneratedheader:before, .buttons:before {clear:left;content:".";display:block;height:0;visibility:hidden}
/* tied to the js in endpage.vm*/
/* header + search */








/* sidebar control */
#sidebar{float: right; margin-top: 130px; bottom: 0px; right: 0px;z-index:999; min-width:290px; width:23%;}
.panel {width: 200px; margin-bottom:10px}
#sidebar .panel {width: 100%}
.no-js #sidebar{min-width:0}
#sidebar h3,.xwikipaneltitle{font-size:1.6em;letter-spacing:-1px; color: $theme.panelHeaderTextColor; }
nav#sidebar-control {height: 20%; padding: 30px 0 0px 0; position: relative;}
#sidebar-control-icons {margin: 0 0 10px 10px;}
.sprite{background:url(img/sprite-icons.png) no-repeat;float:left;height:20px;margin-right:20px;position:relative;width:20px}
.sprite span{color:$theme.linkColor;font-weight:700;position:absolute;right:-10px;top:-5px}
.sprite-search-png{background-position:0 0}
.sprite-navigation-png{background-position:0 -31px}
.sprite-comments-png{background-position:-62px 0}
.sprite-attachments-png{background-position:-31px -62px}
.sprite-history-png{background-position:-62px -31px}
.sprite-information-png{background-position:-31px -31px}
.sprite-export-png{background-position:-31px 0}
.sprite-edit-png{background-position:0 -62px}
#sidebar-control-links {clip: rect(0px 300px 40px 0px); position: absolute; top: 60px; z-index: 999; }
#sidebar-control-links h2 { padding: 5px; visibility: hidden;}
#sidebar-control-links:hover {clip: auto;}
#sidebar-control-links ul {list-style-type: none; margin: 0px; padding: 0px; width: 100%; }
#sidebar-control-links ul li {background: $theme.menuBackgroundColor; padding: 5px 10px; width: 100%;}
#sidebar-control-links ul li a {float: left; text-decoration: none; }
#sidebar-control-links ul li span {color: $theme.textSecondaryColor; margin-left: 3px;}
.active-control {background: none !important; position: absolute; top: 0px; }
.active-control a {color: $theme.titleColor;}
#sidebar-control-links:hover .active-control {background:  $theme.textPrimaryColor !important; }
#sidebar-control-links:hover a {color: $theme.menuLinkColor; !important;}
#sidebar-control-links:hover a:hover {color: $theme.fieldGradientColor; !important;}

/* sidebar content */
#change{bottom:0;overflow-x:auto;overflow-y:hidden; padding:0 10px 0 10px; position:absolute; top: 230px; }
#change:hover{overflow-y:auto}
#change h3{margin:10px 0 5px}
#change ul li a,.panels a{font-size:1.2em;letter-spacing:-1px;text-decoration:none}
#change section{margin-bottom:100px}
#change section h2 span{color:$theme.textSecondaryColor;font-weight:700}
#page-suplemental{background:$theme.pageContentBackgroundColor;box-shadow:inset 30px 0 0 rgba(0,0,0,.1);margin:10px -10px;padding:10px}
#page-meta{background:url(img/bg.png);font-size:.8em;margin:0 -10px;padding:10px}

.each-comment{background:rgba(255,255,255,.4);font-size:.9em;margin:0 -10px 10px;padding:10px}
.each-comment:hover, #page-suplemental:hover{background: $theme.highlightColor;}
.no-rgba .each-comment{background:$theme.panelBackgroundColor}
.each-comment-user img{float:left;margin:0 10px 0 0}
.each-comment-user h4{font-size:1.4em;letter-spacing:-1px;margin:10px 0 0}
.each-comment legend{font-weight:700;margin-bottom:10px}

/* breadcrumb/login . provides drop down */
.menu-drop{margin-right:-30px;padding:5px 10px;position:relative;z-index:1}
.menu-drop ul li{float:left;font-weight:700;padding:5px}
.menu-drop ul li span{font-weight:400;margin-right:2px}
.menu-drop ul li:hover{background:$theme.buttonPrimaryBackgroundColor; color:$theme.buttonSecondaryBackgroundColor}
.menu-drop ul li ul{background:$theme.buttonPrimaryBackgroundColor; display:none;font-size:.8em;margin:5px 0 0 -5px;padding:5px;position:absolute}
.no-rgba .menu-drop ul li ul li:hover{background:$theme.buttonPrimaryTextColor}
.menu-drop ul li ul hr,#sidebar section hr{height:1px;visibility:hidden}
.menu-drop ul li ul a{color:$theme.buttonPrimaryTextColor;text-decoration:none}
.menu-drop ul li ul li{float:none}
.menu-drop ul li ul li:hover {background: $theme.buttonSecondaryBackgroundColor }
.menu-drop ul li ul li:hover a,  #tmCreate ul li:hover a {color: $theme.buttonSecondaryTextColor}
.menu-drop ul li ul li:before{content:"";margin:0}
.menu-drop ul li:hover ul{display:block}
#viewer{padding:0;width:100%}

#viewer ul li ul li{float:left;font-size:1.2em}
#tmCreate{margin-right:10px}
#tmCreate a,#tmCreate{color:$theme.titleColor}
#tmCreate:after{content:" + "}

/* main content styling */
#main-area {width: 77%}
article#xo-content,div.suggestItems{background:$theme.pageContentBackgroundColor;}

/* warnings and messages */
blockquote, .box, .errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage{background:$theme.backgroundSecondaryColor; color:$theme.textColor;display:block;font-weight: 400; margin:10px -10px 10px -30px;padding:10px 10px 10px 30px}
.box span,.xwikimessage span, .warningmessage span, .errormessage span {font-weight: 700}
.plainmessage {padding-left: 50px; background-position: 30px center !important;}
.warningmessage {background: $theme.notificationWarningColor; color: $theme.buttonPrimaryTextColor;}
.errormessage{background:$theme.notificationErrorColor; color: $theme.buttonPrimaryTextColor;}
.successmessage {background: $theme.notificationSuccessColor;}
.infomessage {background-image: url("xwiki.getSkinFile('icons/silk/information.png')");}
.warningmessage {  background-image: url("$xwiki.getSkinFile('icons/silk/error.png')");}
.errormessage {background-image: url("$xwiki.getSkinFile('icons/silk/exclamation.png')");}
.successmessage {background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')")}
.infomessage, .warningmessage, .errormessage, .successmessage {background-position:  8px 9px; background-repeat:  no-repeat;}
.messagetype {display: none;}
/* content */
#gadget-left,#gadget-right{float:left;width:48.5655930376%}
#gadget-left{margin-left:.7%}
#gadget-right{float:right;margin-right:.7%}





.nextPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) right top!important}
.prevPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) left top!important}
.noNextPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) right bottom!important}
.noPrevPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) left bottom!important}







article sub,article sup{font-size:.8em}
article sub{vertical-align:sub}
article table{line-height:1.3em}
article th{font-weight:bolder;text-align:center}
















/* livetable */
.table-menu-btn{background:$theme.panelHeaderBackgroundColor;border-bottom:1px solid $theme.borderColor;color:$theme.textColor!important;font-size:.8em;font-weight:700;padding:.2em 1em;text-decoration:none;text-transform:uppercase}
.table-menu-wrapper{bottom:-1em;left:0;position:absolute}
#xo-content .table-menu-wrapper{bottom:-.9em}
.table-menu{background-color:$theme.panelHeaderBackgroundColor; font-size: .8em;left:0;padding:10px;position:absolute;width:12em}
.table-menu-hidden{left:-999em;right:auto}
.table-menu li{padding:.3em 0}
.legacy-ie .enhanced th.essential,.legacy-ie .enhanced td.essential{display:inline}
.enhanced th.essential,.enhanced td.essential{display:table-cell}
.xwikitabbar{background:$theme.panelHeaderBackgroundColor;list-style-type:none;margin:0;padding:0}
.xwikitabbar a{text-decoration:none}
.xwikitabbar li {float:left;margin:0 .3em;padding:.5em; border-bottom:2px solid $theme.panelHeaderBackgroundColor;}
.xwikitabbar li a:hover{background:none!important}
.xwikitabbar .active{border-bottom:2px solid $theme.titleColor;position:static}

/* modal box */













































/* docextras */
.commenttool a{background:transparent left top no-repeat;display:block;float:left;height:16px;line-height:30px;margin:0 0 0 4px;overflow:hidden;text-indent:30px;width:16px}
.comment-permalink a{background-image:url(/xwiki/resources/icons/silk/link.png)}
.commentreply a{background-image:url(/xwiki/resources/icons/silk/comments_add.png)}
.attachment:hover{background:$theme.highlightColor}
.attachment .information{color:$theme.textPrimaryColor;overflow:hidden}
.attachment .mime{float:left;padding:0 8px 0 0}
.attachment .name{font-size:1.35em}
.attachment .meta{clear:left}
.attachment .size{color:$theme.textSecondaryColor}
.attachment .xwikibuttonlinks{float:right;width:60px}
.attachmentActionButton{background:transparent 2px center no-repeat;background-color:transparent;border:none;cursor:pointer;font-size:80%;margin-bottom:4px;padding:2px 4px 2px 20px}
.add-file-input{background-image:url(/xwiki/resources/icons/silk/textfield_add.png);background-position:2px top;color:$theme.panelTextColor}
.remove-file-input{background-image:url(/xwiki/resources/icons/silk/cross.png);text-indent:30px;width:16px}
.uploadFileInput{margin:5px 10px 5px 0 !important}
.attachment .xwikibuttonlinks a{background:transparent left top no-repeat;display:block;float:right;height:16px;margin:0 0 0 4px;overflow:hidden;text-indent:-1000em;width:16px}
.attachment .xwikibuttonlinks a.viewlink{background-image:url(/xwiki/resources/icons/silk/eye.png)}
#close-history{float:right;margin:.2em 1em}
#historycontent-wrapper-helper{background:rgba(0,0,0,.5);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:9999999}
#historycontent-wrapper{background:$theme.pageContentBackgroundColor;margin-top:12%;padding:1em;position:relative}
#historycontent-wrapper .buttonwrapper{float:right;margin:-.8em 0 0}

/* admin profile */
.vertical-menu {border: 1px solid $theme.borderColor;border-top-width: 0;float: left;font-size: .857em;/* 14px -> 12px */margin: 0 2.5em 2em 0;width: 20%;}
#admin-page-content {width: 70%; float: left; margin: 0px  !important;}



/* blog */




















/* compression of similar styles */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

.mobile, #sidebar-handle,.enhanced th,.enhanced td{display:none}








.version,article sup{vertical-align:super}
#xwikiuploadfile{width:80%}
.menu-drop ul{list-style-type:none;margin:0;padding:0}

.xwiki-livetable-display-container,.table-wrapper{position:relative}



.commentdelete a,.attachment .xwikibuttonlinks a.deletelink{background-image:url(/xwiki/resources/icons/silk/cross.png)}
.commentedit a,.attachment .xwikibuttonlinks a.editlink{background-image:url(/xwiki/resources/icons/silk/pencil.png)}

/* live table responsive */
@media screen and (min-width: 400px) { 
  .legacy-ie .enhanced th.optional,.legacy-ie .enhanced td.optional{display:inline}
  .enhanced th.optional,.enhanced td.optional{display:table-cell}
}
@media screen and (min-width: 800px) {
  .legacy-ie .enhanced th,.legacy-ie .enhanced td{display:inline}
  .enhanced th,.enhanced td{display:table-cell}
}

/* layout reponsive */

@media only screen and (max-width: 1024px) {
  #sidebar,header{width:30%}
  #main-area{width:70%}
  .first-column,.last-column,.half{float:none!important;width:100%!important}
}
/* layout high density tablet/phone equivalent to the next media-query*/
@media all and (max-width: 1024px) and (min-width: 600px) {
  .touch .sourceName{width:100px}
  .touch .xwikitabbar li{border-bottom:2px solid $theme.borderColor;margin:0;padding:.5em 0;width:50%}
  .touch .xwikitabbar li a{margin-left:.5em}
  .touch .mobile{display:block}
.menu-drop ul li:after,#menu-drop:before{clear:both;content:".";display:block;height:0;visibility:hidden}



  .touch .menu-drop a{color:$theme.pageContentBackgroundColor}
  .touch #sidebar{bottom:auto;height:auto;position:static;width:100%; margin-top: 0;}
  .touch #sidebar-wrapper{background:$theme.backgroundSecondaryColor url(img/bg.png);padding:0 0 0 5%;position:absolute;right:-90%;top:0;width:90%}
  .touch #sidebar-handle{display:block;left:-98px;position:absolute;top:200px}
  .touch #sidebar-handle h2{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);font-size:1.45em;text-transform:lowercase;transform:rotate(90deg)}
  .touch .no-csstransforms #sidebar-handle{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);left:0}
  .touch #sidebar-handle h2 a:link,#sidebar-handle h2 a:visited{color:$theme.titleColor}
  .touch #sidebar-handle h2 a:hover{color:$theme.titleColor}
  .touch #change{bottom:auto;overflow-x:hidden;overflow-y:auto;position:static;top:auto}
 
  .touch #sidebar-control-selector{margin:40px 10px 10px}
  .touch #main-area{width:95%}
  .touch .menu-drop{margin:0}
  .touch .menu-drop ul li{background:rgba(0,0,0,.5);color:$theme.buttonPrimaryTextColor;float:none;margin:5px 0}
  .touch .no-rgba .menu-drop ul li{background:$theme.backgroundSecondaryColor}
  .touch .menu-drop ul li:before{content:"";margin:0}
  .touch .breadcrumb-drop{display:inline;float:right}
 



  .touch .gadget-title:after{content:' \25BE'; position: absolute; right: 10px; top: 0px;}
  .touch .expanded:after{content:' \25B4'}
  .touch .column li{margin-right:10px!important}
  .touch .column li a,#viewer li a{float:left}
  .touch .column li select,#viewer li select{margin:0 0 0 10px}

  .touch #sidebar-control-links,.touch .menu-drop ul li:hover ul,.touch .section-content{display:none}
  .touch .half {width: 98.9%}

}

@media all and (max-width: 850px) {
	.vertical-menu {width: 100%; float: none; }
	#admin-page-content {width:100%; float: none; }
  	.xwikitabbar li{border-bottom:2px solid $theme.borderColor;margin:0;padding:.5em 0;width:50%}
	.xwikitabbar li a{margin-left:.5em}
}
/* layout regular small width */
@media all and (max-width: 600px) {
  .mobile{display:block}
  .menu-drop ul li:after{clear:both;content:".";display:block;height:0;visibility:hidden}



  .menu-drop a {color:$theme.pageContentBackgroundColor}
  #sidebar{bottom:auto;height:auto;position:static;width:100%; margin-top: 0;}
  #sidebar-wrapper{background:$theme.backgroundSecondaryColor url(img/bg.png);padding:0 0 0 5%;position:absolute;right:-90%;top:0;width:90%}
  #sidebar-handle{display:block;left:-98px;position:absolute;top:200px}
  #sidebar-handle h2{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);font-size:1.45em;text-transform:lowercase;transform:rotate(90deg)}
  .no-csstransforms #sidebar-handle{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);left:0}
  #sidebar-handle h2 a:link,#sidebar-handle h2 a:visited{color:$theme.titleColor}
  #sidebar-handle h2 a:hover{color:$theme.titleColor}
  #change{bottom:auto;overflow-x:hidden;overflow-y:auto;position:static;top:auto}
  section{margin-bottom:20px}
  #sidebar-control-selector{margin:40px 10px 10px}
  #main-area{width:95%}
  .menu-drop{margin:0}
  .menu-drop ul li{background:rgba(0,0,0,.5);color:$theme.pageContentBackgroundColor;float:none;margin:5px 0}
  .no-rgba .menu-drop ul li{background:$theme.backgroundSecondaryColor}
  .menu-drop ul li:before{content:"";margin:0}
  .breadcrumb-drop{display:inline;float:right}




  .gadget-title {position: relative;}
  .gadget-title:after{content:' \25BE'; position: absolute; right: 10px; top: 0px;}
  .expanded:after{content:' \25B4'}
  .column li{margin-right:10px!important}
  #viewer li a{float:left}
  .column li select,#viewer li select{margin:0 0 0 10px}
  #page-suplemental,article{box-shadow:none}
  #sidebar-control-links,.menu-drop ul li:hover ul,.gadget-content{display:none}
  #vertical-tabs {width: 150px; margin-left: -150px;}
  #vertical-tabs:hover {margin-left: -30px; padding-left: 30px; margin-right: 10px}
  .vertical-pane {margin-left: 0px;}
.vertical-pane {overflow:hidden; text-overflow:clip;}
.admin-category img {width: 50px;}
.half {width: 98.9%}
}
/* detailing reponsive */
@media all and (max-width: 410px) {
  .column li{margin-right:0!important}
}
@media all and (max-width: 300px) {
  .xwikitabbar li{border-bottom:2px solid #eee;margin:0;padding:.5em 0;width:100%}
}

.clearfloats{clear:both;height:1px;margin:-1px 220px 0;overflow:hidden}
.invisible{visibility:hidden!important}
.loading{background:transparent url($xwiki.getSkinFile('icons/xwiki/spinner.gif')) no-repeat center}
.separator{margin:0 10px;padding-top:3px}
.column{float:left}
.avatar_30{max-height:30px;max-width:30px}
* html .avatar_30{width:30px}
.avatar_50{max-height:50px;max-width:50px}
.avatar_120{max-height:120px;max-width:120px}
* html .avatar_120{width:120px}
img[height][src*=noavatar.png]{height:40px}
form div.activityContent{margin-bottom:50px}
.edit_section{display:none;height:24px;line-height:24px;margin:-19px 0 0;overflow:hidden;position:relative;visibility:hidden}
.edit_section a{background:transparent url($xwiki.getSkinFile('icons/xwiki/edit-section.png')) no-repeat left top;line-height:999px;margin:0;overflow:hidden;padding:0;position:absolute;right:0;top:0;visibility:visible;width:20px}
ul.xlist{overflow:hidden;padding:0!important}
ul.xlist li.xunderline{border-bottom:solid 1px $theme.borderColor!important}
ul.xlist li{float:right;height:100%;list-style-type:none;padding-top:.2em;width:100%!important}
ul.xlist li.space,ul.xlist li.page,ul.xlist li.comment,ul.xlist li.attachment{background-position:2px 3px;background-repeat:no-repeat}
ul.xlist li.space{background-image:url($xwiki.getSkinFile('icons/silk/folder.gif'))}
ul.xlist li.page{background-image:url($xwiki.getSkinFile('icons/silk/page_white_text.gif'))}
ul.xlist li.comment{background-image:url($xwiki.getSkinFile('icons/silk/comment.gif'))}
ul.xlist li.attachment{background-image:url($xwiki.getSkinFile('icons/silk/attach.gif'));padding-bottom:0}
ul.xlist li.create a{background:url($xwiki.getSkinFile('icons/silk/bullet_add.gif')) 7px 3px no-repeat;color:$theme.textSecondaryColor;padding-left:1.5em;text-decoration:none}
ul.xlist li.xitem div.xitemcontainer{text-indent:1.5em}
ul.xlist li.xitem div.xitemcontainer ul.xlist{text-indent:0}
.xform fieldset{margin:2em 0}
.xform fieldset:first-of-type{margin-top:1em}
.xform fieldset:last-of-type{margin-bottom:1em}
.xform .xRequired{color:#888;font-size:.9em;font-style:italic;font-weight:400;margin-left:1ex;text-transform:none}
.xform .xErrorMsg{color:#C33;display:block;font-size:.8em;font-weight:400;margin-bottom:.3em}
.vertical-menu ul{list-style-type:none;margin:0;padding:0}
.vertical-menu ul ul ul{margin-left:0}
.vertical-menu li{border-top:1px solid $theme.borderColor;margin-left:0;position:relative}
.vertical-menu span{background:none no-repeat scroll 7px transparent;display:block}
.vertical-menu a{display:block;padding:.5em .5em .5em 30px;text-decoration:none;word-wrap:break-word}
.vertical-menu .group:hover a{color:$theme.buttonPrimaryTextColor!important}
.vertical-menu .group{background-color:$theme.panelCollapsedBackgroundColor;font-variant:small-caps;font-weight:700}
.vertical-menu .group *{color:$theme.panelCollapsedTextColor}
.vertical-menu .group:hover{background-color:$theme.panelHeaderBackgroundColor}
.vertical-menu .current{background-color:$theme.highlightColor;font-weight:700}
.vertical-menu .current-group{background-color:$theme.panelHeaderBackgroundColor;color:$theme.panelHeaderTextColor}
.vertical-menu .current:after,.vertical-menu .current a:after{border-bottom:1.2em solid transparent;border-left:10px solid $theme.highlightColor;border-top:1.2em solid transparent;content:"";display:block;position:absolute;right:-10px;top:0}
.vertical-menu .current a:after{border-left-color:$theme.borderColor;right:-11px}
.vertical-menu .current-group:after{border-left-color:$theme.panelHeaderBackgroundColor!important}
.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagesize,.container-fluid .xwiki-livetable-pagination .xwiki-livetable-limits{line-height:30px}
.xwikipanelcontents p span.panelitem{display:block}
#contentmenu a.edit:after{content:"\270E";font-size:40px;position:relative;top:15px}
div.main.layoutsubsection{position:relative}
#contentmenu{position:absolute;right:6px;top:52px}
textarea#content{color:#303030;width:100%}
.metadata input#title{font-size:32px;height:36px}
.metadata .help-block{font-size:11px}
form#edit div.metadata{margin-bottom:15px}
table.xRichTextEditorTabPanel{background-color:transparent}
.fullScreenWrapper #mainEditArea{overflow-x:hidden;overflow-y:auto}
.fullScreenWrapper ul.tabs{position:fixed;width:100%}
.fullScreenWrapper div.pill-content{margin-top:45px}
#
/* footer */
#footerglobal{margin-top:100px}
.hidden,.metamodifs,#autosaveControl,.edit-meta-tools{display:none!important}
* html .avatar_50,th.avatar{width:50px}
ul.xlist li.xhighlight:hover,.vertical-menu span:hover{background-color:$theme.highlightColor}
.xspacer,.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagination-text,.xwikipanelcontents p span.pitemseparator,#contentmenu .rightmenu,#*
#xwikieditcontent .fullScreenEditButton{display:none}
.xform input[type=text],.xform input[type=password],.xform select,.xform textarea{width:99%}
.vertical-menu .group:hover *,.vertical-menu .current-group *,.vertical-menu .current-group :visited,.vertical-menu .current-group :active{color:$theme.panelHeaderTextColor}
.container-fluid a.noPrevPagination:hover,.container-fluid a.noNextPagination:hover,#contentmenu a.edit:hover{text-decoration:none}

@import url("xwiki.css");