##
## section wrapper
##
#if ($docextras.size() > 0)
 
	#foreach ($docextra in $docextras)    
		##history is different because it is not always used, so it loads a loader that has a link to load the actual history content
		#if($docextra.get(2) == 'History') 
			<section id="${docextra.get(2).toLowerCase()}-wrapper">
				<h2>${docextra.get(2)}
				#if($docextra.get(3) >= 0) 
				<span class="itemCount">$msg.get('docextra.extranb', [$docextra.get(3)])</span> 
				#end
				</h2>
				<div id="$docextra.get(2).toLowerCase()">
					<ul>
				        <li id="${docextra.get(0)}tab">
				            <a id="${docextra.get(0)}link" href="$doc.getURL('view', "viewer=${docextra.get(1)}")">
				              $msg.get('xe.invitation.displayMessageTable.showHistory')
				            </a>
				         </li>
					</ul>
				    <div id="docextrapanes">
				    	<div id="historycontent-wrapper-helper">
							<div id="historycontent-wrapper">
								<span id="close-history">
								    <a href="$doc.getURL()" id="close-modal" title="$msg.get('xe.themes.colors.wizard.close')">$msg.get('xe.themes.colors.wizard.close')</a>
								</span>
						        <div id="Historypane" class="hidden empty">

						        </div>
						    </div>
						</div>
				    </div>
				</div>
			</section>

			<script type="text/javascript">
				(function(){
				##
		        ## if can see history: Replace close link, make it toggle. also toggle if click outside the history or hit esc. 
				$('close-modal').href="#";
					Event.observe($("close-modal"), "click", function(){ $j("#historycontent-wrapper-helper").toggle();}, false);
					$j(document).keyup(function(e) {
						if (e.keyCode == 27) { $j("#historycontent-wrapper-helper").hide();} // esc closes history
					});
					 $j(document).mouseup(function (e)
					  {
					      var container = $j("#historycontent-wrapper");
					      if (container.has(e.target).length === 0) {$j("#historycontent-wrapper-helper").hide();}
					  });

		        ##
		        ## Replace tab link
		        if ($("Historylink") != null) {
        			$("Historylink").href="#History";
        			Event.observe($("Historylink"), "click", function(){ 
        				XWiki.displayDocExtra("History", "historyinline.vm", false); 
        				$j("#historycontent-wrapper-helper").toggle();

        			}, false);
				}

				##
		       	## Set the extra to load if link has hashtag
				document.observe("dom:loaded", function() {
					if (self.document.location.hash.substring(1) == "History") {
						XWiki.displayDocExtra("History", "historyinline.vm", true);
						$j("#historycontent-wrapper-helper").toggle();
					}
				}, false);
			})();
		    </script>

		#else
			<section id="${docextra.get(2).toLowerCase()}-wrapper">
			          <h2>${docextra.get(2)}
			#if($docextra.get(3) >= 0) 
			                <span class="itemCount">$msg.get('docextra.extranb', [$docextra.get(3)])</span> 
			              #end
			          </h2>
			          <div id="$docextra.get(2).toLowerCase()">

						 #template($docextra.get(4))

						</div>
			</section>
		#end
	#end

#end
