<header>

  <span class="mobile" id="hint">Swipe horizontally to access menu</span>
  <h1>
    <a href="$!xwiki.getURL('Main.WebHome')" title="Home" rel="home">
      #set($logoname = $themeObj.getProperty('logoImage').value)
      #if("$!{logoname}" != '')
        #set($logourl = $themeDoc.getAttachmentURL($logoname))
      #else
        #set($logoname = $xwiki.getSkinPreference('logo', 'logo.png'))
        #set($logo = $!prefdoc.getAttachment($logoname))
        #if(!$logo)
          #set($logourl = $xwiki.getSkinFile($logoname))
        #else
          #set($logourl = $prefdoc.getAttachmentURL($logo.filename))
        #end
      #end
        <img src="$!logourl" alt="Wiki Logo"/>
      </a>
  </h1>

  <nav id="search">
    <form class="search" action="#if($xwiki.exists('Main.Search'))$xwiki.getURL('Main.Search')#else$xwiki.getURL('Main.WebSearch')#end">
      <input type="text" class="text-field" value="$msg.get('panels.search.inputText')"/>
      <input type="submit" class="submit" value="submit" value="$msg.get('panels.search.submit')" alt="$msg.get('panels.search.submit')"/>
    </form>
  </nav>
<div class="clearfloats"></div>
  ##
  ## User
  ##
  <div class="menu-drop" id="viewer">
    <ul>
      <li id="languages">
#set($defaultLanguage = "$!{doc.getDefaultLanguage()}")
#if($defaultLanguage == '')
  #set($defaultLanguage = "$!{doc.getLanguage()}")
#end
#if($defaultLanguage == '')
  #set($defaultLanguage = "default")
#end
        <a href="$!doc.getURL("view", "language=$defaultLanguage")" class="language-default#if($tdoc.realLanguage == $defaultLanguage || ($defaultLanguage == 'default' && $tdoc.realLanguage == '')) language-current#end">$defaultLanguage</a>
        <ul>
  #set ($wikiSettingsLanguages = $!xwiki.getXWikiPreference('languages').trim().split('\s*[,| ]\s*'))
  #set ($hasLanguagesSet = $wikiSettingsLanguages.size() > 1 || "$!wikiSettingsLanguages.get(0)" != '')
  #foreach($lang in $doc.translationList)
    #if(!$hasLanguagesSet || $wikiSettingsLanguages.contains($lang))
      <li>
        <a href="$!doc.getURL("view", "language=$lang")" class="language-translation#if($tdoc.realLanguage == $lang) language-current#end">$!lang</a>
      </li>
    #end
  #end
        </ul>
      </li>

<div class="column">
  #if (!$xcontext.action.startsWith('login'))
    #if ($isGuest)
      #set ($loginurl = $xwiki.getURL('XWiki.XWikiLogin', 'login', "xredirect=$escapetool.url($xwiki.relativeRequestURL)"))
      #xwikitopmenuentry($!loginurl $!msg.get('login') 'tmLogin')
    #else
      #set ($logouturl = $xwiki.getURL('XWiki.XWikiLogout', 'logout', "xredirect=$escapetool.url($xwiki.relativeRequestURL)"))
      #xwikitopmenuentry($!logouturl $!msg.get('logout') 'tmLogout')
    #end
  #end
  #if ($isGuest && $xwiki.hasAccessLevel('register', 'XWiki.XWikiPreferences'))
    #set ($regurl = $xwiki.getURL('XWiki.Register', 'register'))
    #xwikitopmenuentry($!regurl $!msg.get('core.register') 'tmRegister')
  #end

  ##
  ##

  #if (!$isGuest)
  #if ($isSuperAdmin)
    #xwikitopmenuentry('#' $!msg.get('superadmin') 'tmUser' 'hasIcon')
  #else
    #xwikitopmenuentrystart($xwiki.getURL($xcontext.user, 'view') "$!xwiki.getUserName($xcontext.user, false)" 'tmUser' 'hasIcon')
    #submenuitem($xwiki.getURL($xcontext.user, 'view') $msg.get('core.menu.profile') 'tmProfile', '')
    #submenuitem($xwiki.getURL($xcontext.user, 'view', 'category=preferences') $msg.get('core.menu.userPreferences') 'tmUserPreferences', '')
    #if ($hasWatch)
      #submenuitem($xwiki.getURL($xcontext.user, 'view', 'category=watchlist') $msg.get('core.menu.watchlist.management') 'tmWatchlistManager', '')
      #submenuitem($xwiki.getURL($xcontext.user, 'view', 'category=network') $msg.get('core.menu.network') 'tmUserNetwork', '')
    #end
    #if ($isWorkspaceManagerAppInstalled && $isMainWikiUser)
      #submenuitem($xwiki.getURL($xcontext.user, 'view', 'category=workspaces') $msg.get('workspacemanager.menu.user.workspaces') 'tmUserWorkspaces', '')
    #end
    #submenuitem($xwiki.getURL($xcontext.user, 'view', 'category=dashboard') $msg.get('core.menu.userDashboard') 'tmUserDashboard', '')
    #xwikitopmenuentryend()
  #end
  #end
</div>
</ul>
  </div>
 
</header>
