###
### Main "view" template
###
### General wrapper for view actions
###
#if ($request.getParameter("raw").equals("1"))
  #template("code.vm")
#else
  #template("startpage.vm")
  #if("$!viewer" == '')
    #set($viewer = $request.getParameter('viewer'))
  #end
  #if("$!viewer" == '')
    #set($viewer = 'content')
  #end

  #if($viewer == 'content')
    #template("contentview.vm")
  #else
    #template("${viewer}.vm")
  #end
  <div class="clearfloats"></div>
 
  #template("endpage.vm")
#end
