#template('colorThemeInit.vm')
article, aside, details, figcaption, figure, footer, header,
  hgroup, menu, nav, section { display: block; } /*html 5*/

body {background: $theme.pageBackgroundColor url(img/bg.png); font-family: sans-serif; color: #222; margin: 0px; padding: 0px; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6, #sidebar-control-links ul li {margin: 0px; padding: 0px; letter-spacing: -4px; font-weight: bold;}
h1 {font-size:2.5em;}
h2 {font-size:2.2em;}
h3 {font-size:2em;}
h4 {font-size:1.8em;}
h5 {font-size:1.6em;}
h6 {font-size:1.5em;}
time {font-style: italic;}
.mobile {display: none;}
.clear {clear:both;}

h2, #sidebar-control-links ul li a {letter-spacing: -2px; font-size: 2em;}
form dd:after, .xwikitabbar:after, .floatcontainer:after, .search:after, #historycontent-wrapper:after, .menu-drop ul:after,.each-comment:after, #nav-icons:after, #page-actions:after, .menu-drop:after, #content:after, #gadget-container:after, #sidebar-control-links ul li:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}

header {position: fixed; right: 0px; top: 0px; width: 20%; min-width:290px; z-index: 9999999;}
header h1 {margin: 14px 10px;font-size: 3em; font-weight:bold;}
nav#search {margin-top: -10px; background: #fff; padding: 5px; border: 10px solid rgba(0,0,0,0.1);
  -moz-background-clip: padding; -webkit-background-clip: padding;background-clip: padding-box; }
.no-rgba nav#search {border: 10px solid #eee;}
form{width:100%;}
form .text-field{float: left;border: 0px ;padding: 2px;width:86%;}
input.submit{width:20px;height:20x;display:block;overflow:hidden;
text-indent:-999px; /* To remove any default text on the button*/
line-height:16px; /* required for IE */
background: url(img/sprite-icons.png) no-repeat 0 0; /* This will display the search icon by default */
cursor:pointer; /* Hand cursor for the normal state */
border: none;float: left;margin: 3px;padding: 0;}
#headerlanguages {float: right;}

#sidebar {width: 20%; position: fixed; right: 0px; top:130px; bottom: 0px; overflow-y: auto; z-index: 999; overflow-x: hidden; 
  min-width:290px;}
.no-js #sidebar {min-width:0px;}
#sidebar-handle {display: none;}
#sidebar h3, .xwikipaneltitle {font-size: 1.6em; letter-spacing: -1px;}

nav#sidebar-control {height: 70px; padding: 30px 0 0px 0; position: relative;}
#sidebar-control-icons {margin: 0 0 10px 10px;}
#sidebar-control-links {position: absolute; clip: rect(0px 300px 40px 0px); z-index: 999; top: 60px;}
#sidebar-control-links h2 { padding: 5px; visibility: hidden;}
#sidebar-control-links:hover {clip: auto;}
#sidebar-control-links ul {list-style-type: none; margin: 0px; padding: 0px; width: 100%; }
#sidebar-control-links ul li {background: #333; padding: 5px 10px; width: 100%;}
#sidebar-control-links ul li a {text-decoration: none; color: #000; float: left;}
#sidebar-control-links ul li span {color: #d25400; margin-left: 3px;}
.active {background: none !important; position: absolute; top: 0px;}
#sidebar-control-links:hover .active {background:  #555 !important; box-shadow: inset 30px 0px 0px rgba(0, 0, 0,.1); }
#sidebar-control-links:hover a {color: #eee; !important;}
#sidebar-control-links:hover a:hover {color: #fff; !important;}

#change {overflow-x:auto;overflow-y:hidden;position:absolute; top: 100px; bottom: 0px;padding: 0px 10px 100px 10px;}
#change:hover {overflow-y:auto;}
#change a, #change a:visited {color: #d25400;}
#change a:hover {color: #555;}
#change h3 {margin: 10px 0 5px 0;}
#change ul li a, .panels a {text-decoration: none; font-size: 1.2em; letter-spacing: -1px;}
#change section { margin-bottom: 100px; }
#change section h2 span {color: #d25400; font-weight: bold;}

#page-suplemental {box-shadow: inset 30px 0px 0px rgba(0, 0, 0,.1); background: #fff; margin:10px -10px 10px -10px; padding: 10px;}
#page-meta a:hover {background: #fff;}
#page-meta {font-size:.8em; background:  url(img/bg.png); margin: 0 -10px; padding: 10px;}
#page-meta dl dt, #page-meta dl dd {}
#page-meta dl dd  {margin-left: 10px}
#page-meta dl dt {font-weight: bold;}
#table-of-contents {margin: 0px 0;}
#table-of-contents h3 {margin: 0px 0 5px 0;}
#table-of-contents ul li ul {border-left: 2px solid rgba(0, 0, 0,.1); padding: 5px 10px; font-size: .8em;}

.each-comment {font-size: .9em; background: rgba(255, 255, 255,.4); margin:0px -10px 10px -10px; padding: 10px;}
.each-comment:hover {background: #ffc;}
.no-rgba .each-comment {background: #eee;}
.each-comment-user img {float: left; margin: 0 10px 0 0;}
.each-comment-user h4 {font-size: 1.4em; letter-spacing: -1px;margin: 10px 0 0 0 ;}
.each-comment legend {font-weight: bold; margin-bottom: 10px;}
.version {vertical-align: super; }

#main-area {width: 80%;}
.menu-drop {padding: 5px 10px ; margin-right:-30px; position: relative; z-index: 1;}
.menu-drop a {text-decoration: none; color: #000;}
.menu-drop strong {font-weight: bold}
.menu-drop ul {list-style-type:none; margin: 0px; padding: 0px;}
.menu-drop ul li {float: left; font-weight: bold; padding: 5px;}
.menu-drop ul li span {font-weight: normal; margin-right: 2px;}
.menu-drop ul li:hover {background: rgba(0,0,0,.5); color: #eee;}
.menu-drop ul li:hover a {color: #fff;}
.menu-drop ul li ul {background: rgba(0,0,0,.5); padding: 5px; position: absolute; margin: 5px 0 0 -5px; font-size: .8em; display: none; }
.no-rgba .menu-drop ul li:hover, .no-rgba .menu-drop ul li ul {background: #333;}
.no-rgba .menu-drop ul li ul li:hover {background: #000;}
.menu-drop ul li:hover ul {display: block;}
.menu-drop ul li ul hr, #sidebar section hr{visibility: hidden; height: 1px;}
.menu-drop ul li ul a {color: #fff; text-decoration: none;}
.menu-drop ul li ul li{float: none;}
.menu-drop ul li ul li:before{content: ""; margin: 0px;}
#viewer { padding: 0px; width: 100%;}
#viewer ul li {float: right; font-size:.8em;}
#viewer ul li ul li{float: left; font-size:1.2em;}

#tmCreate { margin-right: 10px;}
#tmCreate a, #tmCreate {color: #005AA9;}
#tmCreate:after {content:" + ";}
#tmCreate:hover a, #tmCreate:hover {color: #fff;}

article#content {color: #555;  font-size: .9em;background: #fff; border-top: 20px solid #d25400; padding: 10px 10px 15px 10px; box-shadow: 30px 0px 0px rgba(0, 0, 0,.1); }
article h1 {margin-bottom: 10px; font-size:3.5em;}
.box {color: #333;  background: #eee; display: block; padding: 10px; margin: 10px -10px;}
.warningmessage {background: #fca4a4; font-weight: bold}
#gadget-left, #gadget-right {float: left; width: 48.618784527%;
    *width: 48.5655930376383%;}
#gadget-left {margin-left: .7%;}
#gadget-right {margin-right: .7%; float: right; }
.gadget {margin: 0 0 10px 0; padding: 10px 0;border: 3px solid #eee; border-left: 0px; border-right: 0px;}
.gadget-title {font-size:2.2em; color: #005aa9;  letter-spacing: -3px; margin-top: 0px !important;}
article p { margin-top: 10px; color: #333; font-size: .9em; line-height: 1.3em;}
article p strong {font-weight: bold;}
article ul, article ol {margin: 5px 1.5em; list-style-position: inside; list-style-type:disc; line-height: 1.3em;}
article ol {list-style-type: decimal}
#xwikicontent a {color: #d25400;}
#xwikicontent a:hover {background: #eee; color: #c14d00;}
.nextPagination:hover {background:url("/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png") right top !important;}
.prevPagination:hover {background:url("/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png") left top !important;}
.noNextPagination:hover {background:url("/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png") right bottom !important;}
.noPrevPagination:hover {background:url("/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png") left bottom !important;}
#xwikicontent a:active {color: #ff6a06;}
#xwikicontent h1, article h2, article h3, article h4, article h5, article h6 {font-size:2.2em; color: #005aa9;  letter-spacing: -3px; margin-top: 10px;}
article h2 {font-size: 1.9em; letter-spacing: -2px; color: #108fff;}
article h3 {font-size: 1.7em; letter-spacing: -2px; color: #108fff;}
article h4 {font-size: 1.6em; letter-spacing: -2px; color: #329fff;}
article h5 {font-size: 1.2em; letter-spacing: -1px; color: #65b7ff;}
article h6 {font-size: 1em; letter-spacing: -1px; color: #98cfff;}
article sub, article sup {font-size: .8em;}
article sub {vertical-align: sub;}
article sup {vertical-align: super;}
article table { line-height: 1.3em;}
article th { font-weight: bolder; text-align: center; }
.xwikimessage legend {font-size: 2.2em; padding-bottom: 10px}
/* Styles for the tables test page */

.xwiki-livetable-display-container {position: relative;}

.table-wrapper {
   position: relative;
}
.table-menu-btn {color: #000 !important;}
.table-menu-wrapper {
   position: absolute;
   bottom: -1em;
   left: 0;
}
#content .table-menu-wrapper {
   bottom: -.9em;
}
.table-menu {
   position: absolute;
   background-color: #eee;
   font-size: .8em;
   padding: 10px;
   width: 12em;
   left: 0;
}
.table-menu-hidden {
   left: -999em;
   right: auto;
}
.table-menu-btn {
   text-decoration: none;
   color: #333;
   font-size: .8em;
   background: #eee;
   padding: .2em 1em;
   font-weight: bold;
   text-transform: uppercase;
      border-bottom: 1px solid #ccc;
}
.table-menu ul {list-style-type: none; margin: 0px; padding: 0px}
.table-menu li {
   padding: .3em 0;
}



/* Table styles */
.xwiki-livetable-container table {
  width: 100%;
}
thead th {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  color: #888;
}
th, td {
   padding: .5em 0;
  background-color: #fff;
  text-align: right;
}
th {padding: .5em; background:#eee;border-right: 2px solid #fff;}
th:last-child {border: 0px;}
tr td tr td{padding: .5em;}
.xwiki-livetable-display-header-filter input {width: 100%;}
th:first-child, 
td:first-child {
   text-align: left;
}
tbody th, td {
  border-bottom: 1px solid #e6e6e6;
}


.enhanced th,
.enhanced td {
   display: none;
}

.legacy-ie .enhanced th.essential, 
.legacy-ie .enhanced td.essential {
  display: inline;
}
.enhanced th.essential, 
.enhanced td.essential {
   display: table-cell;
}



@media screen and (min-width: 400px) {
  .legacy-ie .enhanced th.optional, 
  .legacy-ie .enhanced td.optional {
    display: inline;
  }
  .enhanced th.optional, 
  .enhanced td.optional {
    display: table-cell;
  }
}

@media screen and (min-width: 800px) {
   .legacy-ie .enhanced th, 
   .legacy-ie .enhanced td {
      display: inline;
   }
   .enhanced th, 
   .enhanced td {
      display: table-cell;
   }
}

.xwikitabbar {background: #eee; list-style-type: none; margin: 0px; padding: 0px;}
.xwikitabbar a {text-decoration: none}
.xwikitabbar li {float: left; padding: .5em; margin: 0 .3em;}
.xwikitabbar li:hover {background: #ccc;}
.xwikitabbar li a:hover {background: none !important;}
.xwikitabbar .active {position: static; border-bottom: 2px solid #D25400;}

::-webkit-scrollbar-track {background: #ccc;}
::-webkit-scrollbar-thumb {background: #aaa;}
::-webkit-scrollbar-thumb:hover {background: #777;}
::-webkit-scrollbar-thumb:active {background: #888;}

#content form dt {
    float: left;
    clear: left;
    width: 140px;
    text-align: right;
    font-weight: bold;
    padding: 10px 0;
  }
#content form dt:after {
    content: ":";
  }
#content form dd {
    margin: 0 0 0 150px;
    padding: 10px 0;
  }
#content fieldset legend{
font-weight: bold; color: #005AA9;
  }

#content form dt, form dd {border-top: 1px solid #eee; margin-right:10px;}
.fullScreenEditLink {background: #fff; padding: 5px; }
#content form textarea {margin-top: 5px; width: 80%;}

.buttons { background: #eee; padding: 20px; margin: 20px 0; text-align: right}

#sidebar .page-form dt, dd {border: 0px;}

  #hint {text-align: center; background: rgba(0,0,0,.1); padding: 3px; font-weight: bold;}
  #hint a{ text-decoration: none; color: #000;}
  .no-touch #swipe-hint {display: none;}

@media only screen and (max-width: 1024px) {

  #sidebar, header {width: 30%;}
  #main-area {width: 70%;}
  .first-column, .last-column {float: none !important; width: 100% !important;}
}
@media all and (max-width: 1024px) and (min-width: 600px) {
  .touch .mobile {display: block;}
  .touch header:after, .menu-drop ul li:after, #menu-drop:before {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

  .touch header {position: static; width: 40%; text-align: left;}
  .touch header h1{margin: 10px auto 4px 10px; display: inline;  float: left;}
  .touch nav#search {width: 40%; margin: 10px 10px; float: right;}
  .touch .menu-drop a {color: #fff;}

  .touch #sidebar { width: 100%; bottom: auto; height: auto; position: static; }
  .touch #sidebar-wrapper {background: #ccc url(img/bg.png); position: absolute; top: 0; right: -90%; width: 90%; padding: 0 0 0 5%;}
  .touch #sidebar-handle {display: block; position: absolute; 
    top: 200px;left: -98px;}
  .touch #sidebar-handle h2{ font-size:1.45em; text-transform: lowercase;
    -webkit-transform: rotate(90deg); 
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg);
  }
  .touch .no-csstransforms  #sidebar-handle { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); left: 0px;}
  .touch #sidebar-handle h2 a:link, #sidebar-handle h2 a:visited{color: #005aa9;}
  .touch #sidebar-handle h2 a:hover {color: #d25400;}
  .touch #change {overflow-x:hidden;overflow-y:auto;position:static; top: auto; bottom: auto;}
  .touch section { margin-bottom: 20px;}
  .touch #page-suplemental { box-shadow: none;}
  .touch #sidebar-control-selector {margin: 40px 10px 10px 10px;}
  .touch #sidebar-control-links {display: none;}
  
  .touch #main-area {width: 95%;}
  .touch article {box-shadow: none; }

  .touch .menu-drop {margin: 0px;}
  .touch .menu-drop ul li {float: none; background: rgba(0,0,0,.5); color: #fff; margin: 5px 0;}
  .touch .no-rgba .menu-drop ul li {background: #333;}
  .touch .menu-drop ul li:hover ul {display: none;}
  .touch .menu-drop ul li:before{content: ""; margin: 0px;}
  .touch .breadcrumb-drop {display: inline ; float: right;}
  .touch #viewer {margin: 0px 10px; width: auto;}
  .touch #tmCreate {margin: 0px; background: rgba(256,256,256,.5);}
  .touch #tmCreate a {color: #000;}
  .touch #tmCreate:hover a {color: #333;}

  .touch article section h2:after {content: ' +';}
  .touch .expanded:after {content: ' -';}
  .touch .section-content {display: none;}

  .touch .column li {margin-right: 10px !important;}
  .touch .column li a, #viewer li a {float: left;}
  .touch .column li select, #viewer li select {margin: 0 0px 0 10px;}
}


@media all and (max-width: 600px) {
  .mobile {display: block;}
  header:after, .menu-drop ul li:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

  header {position: static; width: 95%; text-align: center;}
  header h1{margin: 10px auto 4px auto; }
  nav#search {width: 90%; margin: 0 auto;}
  .menu-drop a {color: #fff;}

  #sidebar { width: 100%; bottom: auto; height: auto; position: static; }
  #sidebar-wrapper {background: #ccc url(img/bg.png); position: absolute; top: 0; right: -90%; width: 90%; padding: 0 0 0 5%;}
  #sidebar-handle {display: block; position: absolute; 
    top: 200px;left: -98px;}
  #sidebar-handle h2{ font-size:1.45em; text-transform: lowercase;
    -webkit-transform: rotate(90deg); 
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg);
  }
  .no-csstransforms  #sidebar-handle { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); left: 0px;}
  #sidebar-handle h2 a:link, #sidebar-handle h2 a:visited{color: #005aa9;}
  #sidebar-handle h2 a:hover {color: #d25400;}
  #change {overflow-x:hidden;overflow-y:auto;position:static; top: auto; bottom: auto;}
  section { margin-bottom: 20px;}
  #page-suplemental { box-shadow: none;}
  #sidebar-control-selector {margin: 40px 10px 10px 10px;}
  #sidebar-control-links {display: none;}
  
  #main-area {width: 95%;}
  article {box-shadow: none; }

  .menu-drop {margin: 0px;}
  .menu-drop ul li {float: none; background: rgba(0,0,0,.5); color: #fff; margin: 5px 0;}
  .no-rgba .menu-drop ul li {background: #333;}
  .menu-drop ul li:hover ul {display: none;}
  .menu-drop ul li:before{content: ""; margin: 0px;}
  .breadcrumb-drop {display: inline ; float: right;}
  #viewer {margin: 0px 10px; width: auto;}
  #tmCreate {margin: 0px; background: rgba(256,256,256,.5);}
  #tmCreate a {color: #000;}
  #tmCreate:hover a {color: #333;}

  article section h2:after {content: ' +';}
  .expanded:after {content: ' -';}
  .section-content {display: none;}

  .column li {margin-right: 10px !important;}
  .column li a, #viewer li a {float: left;}
  .column li select, #viewer li select {margin: 0 0px 0 10px;}
}

.sprite {background: url(img/sprite-icons.png) no-repeat; float: left; position: relative; margin-right: 20px; width: 20px; height: 20px;}
.sprite span {position: absolute; top: -5px; right: -10px; color: #d25400; font-weight: bold;}
.sprite-search-png {background-position: -0px -0px;}
.sprite-navigation-png {background-position: -0px -31px;}
.sprite-comments-png {background-position: -62px 0px;}
.sprite-attachments-png {background-position: -31px -62px;}
.sprite-history-png {background-position: -62px -31px;}
.sprite-information-png {background-position: -31px -31px;}
.sprite-export-png {background-position: -31px -0px;}
.sprite-edit-png {background-position: -0px -62px;}


.panel {margin-bottom: 10px;}
.commenttool a{background:transparent left top no-repeat;display:block;float:left;height:16px;line-height:30px;margin:0 0 0 4px;overflow:hidden;text-indent:30px;width:16px;}
.comment-permalink a{background-image:url("/xwiki/resources/icons/silk/link.png");}
.commentdelete a{background-image:url("/xwiki/resources/icons/silk/cross.png");}
.commentreply a{background-image:url("/xwiki/resources/icons/silk/comments_add.png");}
.commentedit a{background-image:url("/xwiki/resources/icons/silk/pencil.png");}

.attachment:hover{background:#FFFFCC;}
.attachment .information{color:#9F9F9F;overflow:hidden;}
.attachment .mime{float:left;padding:0 8px 0 0;}
.attachment .name{font-size:1.35em;}
.attachment .meta{clear:left;}
.attachment .size{color:#9F9F9F;}
.attachment .xwikibuttonlinks{float:right;width:60px;}
.attachmentActionButton{background-color:transparent;border:none;padding:2px 4px;font-size:80%;margin-bottom:4px;background:transparent 2px center no-repeat;padding-left:20px;cursor:pointer;}
.add-file-input{color:#0089DC;background-position:2px top;background-image:url("/xwiki/resources/icons/silk/textfield_add.png");}
.remove-file-input{background-image:url("/xwiki/resources/icons/silk/cross.png");width:16px;text-indent:30px;}
.uploadFileInput{margin:5px 10px 5px 0!important;}
.attachment .xwikibuttonlinks a{width:16px;height:16px;text-indent:-1000em;overflow:hidden;background:transparent left top no-repeat;display:block;float:right;margin:0 0 0 4px;}
.attachment .xwikibuttonlinks a.deletelink{background-image:url("/xwiki/resources/icons/silk/cross.png");}
.attachment .xwikibuttonlinks a.editlink{background-image:url("/xwiki/resources/icons/silk/pencil.png");}
.attachment .xwikibuttonlinks a.viewlink{background-image:url("/xwiki/resources/icons/silk/eye.png");}
#xwikiuploadfile {width: 80%}

.DocumentInformation h1 {display: none;}

#close-history {float: right; margin: .2em 1em;}
#historycontent-wrapper-helper {background: rgba(0,0,0,.5); width: 100%; height: 100%;position: fixed; z-index: 9999999; top: 0; left: 0; display: none;}
#historycontent-wrapper {background: #fff; padding: 1em; margin-top: 10%; position: relative;}
#historycontent-wrapper table {width: 100%;}
#historycontent-wrapper .buttonwrapper {float: right; margin: 1em 0 0 0;}


/*dataeditors.css*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
 #xwikiobjects,#xwikiclassproperties{padding:0 8px;overflow:auto;border:none!important;}
#body #xwikiobjects label,#body #xwikiclassproperties label{display:inline;text-transform:none;font-variant:normal;color:#9F9F9F;}
#body .xclass-title h2 span{border:none;color:inherit;display:inline;margin:0;position:static;}
.boolean-property input{width:auto!important;border:none!important;}
#xwikiobjects input:hover,#xwikiobjects textarea:hover,#xwikiobjects input:focus,#xwikiobjects textarea:focus,#xwikiclassproperties input:hover,#xwikiclassproperties textarea:hover,#xwikiclassproperties input:focus,#xwikiclassproperties textarea:focus{border:1px solid #9F9F9F;}
#xwikiobjects input:focus,#xwikiobjects textarea:focus,#xwikiclassproperties input:focus,#xwikiclassproperties textarea:focus{background-color:#FFFFCC;}
.more-actions{padding:8px 2px;}
.more-actions .edit-all{display:block;padding:2px 18px;background:transparent url("/xwiki/resources/icons/silk/pencil.png") left top no-repeat;}
.xclass-title{margin:16px 0 2px;}
.xclass-content{padding:0 0 0 16px;margin:0 0 10px 0;}
.xobject-title,.add_xobject-title{position:relative;border:none;cursor:default;background:transparent;}
.xobject:hover .xobject-title,.xproperty:hover .xproperty-title{background-color:#FFFFCC;color:#9F9F9F;}
.xobject-content{padding:4px 14px 8px;border:none;margin-bottom:2px;}
.xobject dl,.xproperty dl{margin:0;}
#body .xobject-title h3,#body .xclass-title,.add_xobject-title{padding-left:14px!important;}
.xobject-title:hover,.xclass-title:hover,.xproperty-title:hover{cursor:default;}
.xobject-action{display:block;overflow:hidden;position:absolute;top:2px;width:16px;height:16px;text-indent:30px;line-height:30px;background:transparent left top no-repeat;}
.xobject-title .delete{right:0;background-image:url("/xwiki/resources/icons/silk/cross.png");}
.xobject-title .edit{right:16px;background-image:url("/xwiki/resources/icons/silk/pencil.png");}
.xproperty{border:none;}
.xproperty-content{padding:4px 16px 8px 16px;margin-bottom:2px;}
.xproperty-content dl{margin:0;padding-left:16px;}
.xproperty-title{cursor:default;padding:0;overflow:hidden;}
.xproperty-title .xproperty-property{float:left;margin-right:8px;}
.xproperty_number_input input{width:2em;}
.xproperty-content{clear:both;}
.xproperty-title .xproperty-prettyName{float:none;clear:both;}
.xobject-content dd,.xproperty-content dd{margin:0 0 4px;}
#body .collapsable .xobject-title h3,#body .collapsable .xclass-title,#body .collapsable .xproperty-title{background-image:url("/xwiki/resources/icons/silk/bullet_toggle_minus.png");background-position:0 center;background-repeat:no-repeat;}
#body .collapsed .xobject-title h3,#body .collapsed .xclass-title,#body .collapsed .xproperty-title{background-image:url("/xwiki/resources/icons/silk/bullet_toggle_plus.png");}
.xclass.collapsed .xclass-content,.xobject.collapsed .xobject-content,.xproperty.collapsed .xproperty-content{display:none;}
.collapsable dt .collapser{background-image:url("/xwiki/resources/icons/silk/bullet_toggle_minus.png");background-position:-4px center;background-repeat:no-repeat;cursor:default;display:inline-block;width:10px;height:10px;vertical-align:middle;}
#xwikiobjects .collapsable dd{padding-left:10px;}
#xwikiclassproperties .collapsable dt{margin-left:-10px;}
.collapsable dt .collapsed{background-image:url("/xwiki/resources/icons/silk/bullet_toggle_plus.png");}
.disabled{opacity:.5;}
.disabled *{font-style:italic;}
.disabled .xproperty-title h2,#body #xwikiclassproperties .disabled dt label,#body #xwikiobjects dt.disabled label{color:#636B75;}
.syncProperties{font-weight:900;display:inline-block;padding:2px 0 2px 22px;background:transparent url("/xwiki/resources/icons/silk/cross.png") left center no-repeat;margin-left:-22px;}
.disabletool label{font-weight:900;}
.xproperty-title .tools{float:right;margin-top:-18px;}
.xproperty-title .tools .tool{width:16px;height:16px;float:left;background:transparent none center no-repeat;text-indent:-9999px;}
.xproperty-title .tools .delete{background-image:url(/xwiki/resources/icons/silk/cross.png);}
.xproperty-title .tools .move{background-image:url(/xwiki/resources/icons/datamodel/move.png);cursor:move;}
.dragged .xproperty-title{border:1px solid #E8E8E8;}
.StringClass h2{background-image:url("/xwiki/resources/icons/datamodel/string.png");}
.DateClass h2{background-image:url("/xwiki/resources/icons/datamodel/calendar.png");}
.TextAreaClass h2{background-image:url("/xwiki/resources/icons/datamodel/textarea.png");}
.NumberClass h2{background-image:url("/xwiki/resources/icons/datamodel/number.png");}
.BooleanClass h2{background-image:url("/xwiki/resources/icons/datamodel/boolean.png");}
.StaticListClass h2{background-image:url("/xwiki/resources/icons/datamodel/staticlist.png");}
.GroupsClass h2{background-image:url("/xwiki/resources/icons/datamodel/groups.png");}
.UsersClass h2{background-image:url("/xwiki/resources/icons/datamodel/users.png");}
.LevelsClass h2{background-image:url("/xwiki/resources/icons/datamodel/rights.png");}
.DBListClass h2{background-image:url("/xwiki/resources/icons/datamodel/database.png");}
.DBTreeListClass h2{background-image:url("/xwiki/resources/icons/datamodel/tree.png");}
.PasswordClass h2{background-image:url("/xwiki/resources/icons/datamodel/password.png");}
#add_xproperty{background:transparent url("/xwiki/resources/icons/silk/bullet_add.png") left center no-repeat;padding-left:14px;margin-left:16px;}
#xwikiclassproperties #add_xproperty input,#xwikiclassproperties #add_xproperty select,#xwikiobjects #add_xobject input,#xwikiobjects #add_xobject select{width:auto!important;}
#add_xobject{margin:1em 0 0;}
#add_xobject .add_xobject-title{background-position:left .5em;padding-top:8px;margin-top:8px;border-top:none;}
.xclass-content .add_xobject-title{display:block;}
.add_xobject-title a{color:#0089DC;text-decoration:none;display:block;padding:2px 0;}
.add_xobject-title a:hover{text-decoration:underline;background-color:#FFFFCC;}
#switch-xclass{text-align:right;margin:4px 0 -16px;}
/*end dataeditors.css */





.clearfloats {
  clear: both;
  height: 1px;
  margin: -1px 220px 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.loading {
  background: transparent url($xwiki.getSkinFile('icons/xwiki/spinner.gif')) no-repeat center;
}

.separator {
  /*color: $theme.textSecondaryColor; */
  padding-top: 3px;
  margin: 0 10px;
}

.column {
  float: left;
}
.full {
  /* Leave a bit of space for borders. */
  width: 99.8%;
}
.half {
  /* Rounding errors with 50%, might end up with one more pixel which pushes the column down. */
  width: 49.9%;
}
.third {
  /* Rounding errors with 33.3%, might end up with one more pixel which pushes the column down. */
  width: 33.2%;
}

.avatar_30 {
  max-width: 30px;
  max-height: 30px;
}
* html .avatar_30 {
  width: 30px;
}
.avatar_50 {
  max-width: 50px;
  max-height: 50px;
}
* html .avatar_50 {
  width: 50px;
}
.avatar_120 {
  max-width: 120px;
  max-height: 120px;
}
* html .avatar_120 {
  width: 120px;
}
th.avatar {
  width: 50px;
}

/**
 * Fix places where the "default avatar" image height is hardcoded in the DOM instead
 * of being set in CSS (For example in livetable user columns).
 * This ultimately should be fixed right in XWiki/XE.
 */
img[height][src*="noavatar.png"] {
  height: 40px;
}


form div.activityContent {
  margin-bottom:50px;
}

.edit_section {
  display: none;
  height: 24px;
  line-height: 24px;
  margin: -19px 0 0;
  overflow: hidden;
  position: relative;
  visibility:hidden;
}

.edit_section a {
  background: transparent url($xwiki.getSkinFile('icons/xwiki/edit-section.png')) no-repeat left top;
  line-height: 999px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility:visible;
  width: 20px;
}

/* @group COMPONENTS*/
/* --------------XWiki items types list -----------------*/
ul.xlist {
  margin: 0 0 0 .5em !important;
  overflow: hidden;
  padding: 0 !important;
}

ul.xlist li.xunderline {
  border-bottom: solid 1px $theme.borderColor !important;
}

ul.xlist li.xhighlight:hover {
  background-color: $theme.highlightColor;
}

ul.xlist li {
  float: right;
  height: 100%;
  list-style-type: none;
  padding-top: .2em;
  width: 100% !important;
}

ul.xlist li.space, ul.xlist li.page, ul.xlist li.comment, ul.xlist li.attachment {
  background-position: 2px 3px;
  background-repeat: no-repeat;
}

ul.xlist li.space {
  background-image: url($xwiki.getSkinFile('icons/silk/folder.gif'));
}

ul.xlist li.page {
  background-image: url($xwiki.getSkinFile('icons/silk/page_white_text.gif'));
}

ul.xlist li.comment {
  background-image: url($xwiki.getSkinFile('icons/silk/comment.gif'));
}

ul.xlist li.attachment {
  background-image: url($xwiki.getSkinFile('icons/silk/attach.gif'));
  padding-bottom: 0;
}

ul.xlist li.create a {
  background: url($xwiki.getSkinFile('icons/silk/bullet_add.gif')) 7px 3px no-repeat;
  color: $theme.textSecondaryColor;
  text-decoration: none;
  padding-left: 1.5em;
}

ul.xlist li.xitem div.xitemcontainer {
  text-indent: 1.5em;
}

ul.xlist li.xitem div.xitemcontainer ul.xlist {
  text-indent: 0;
}

.xspacer {
  display: none;
}

/* @group forms */

.xform fieldset {
  margin: 2em 0;
}
.xform fieldset:first-of-type {
  margin-top: 1em;
}
.xform fieldset:last-of-type {
  margin-bottom: 1em;
}

.xform input[type="text"], .xform input[type="password"] {
  width: 99%;
}
/* Duplicated because IE6 chokes on the first two selectors. Don't recombine! */
.xform select, .xform textarea {
  width: 99%;
}

.xform .xRequired {
    color: #888888;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin-left: 1ex;
    text-transform: none;
}

.xform .xErrorMsg {
    color: #CC3333;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0.3em;
}

/* @group VERTICAL MENU */
/* General styling */
.vertical-menu {
  border: 1px solid $theme.borderColor;
  border-top-width: 0;
  float: left;
  font-size: .857em;/* 14px -> 12px */
  margin: 0 2em 2em 0;
  width: 15em;
}

.vertical-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
.vertical-menu ul ul ul {
  margin-left: 0;
}

.vertical-menu li {
  border-top: 1px solid $theme.borderColor;
  position: relative;
  margin-left: 0px;
}

.vertical-menu span {
  background: none no-repeat scroll 7px transparent;
  display: block;
}

.vertical-menu a {
  display: block;
  padding: .5em .5em .5em 30px;
  text-decoration: none;
  word-wrap: break-word;
}

/* Section titles */
.vertical-menu .group {
  background-color: $theme.panelCollapsedBackgroundColor;
  font-weight: 700;
  font-variant: small-caps;
}
.vertical-menu .group * {
  color: $theme.panelCollapsedTextColor;
}

/* Highlight items when hovering */
.vertical-menu span:hover {
  background-color: $theme.highlightColor;
}
.vertical-menu .group:hover {
  background-color: $theme.panelHeaderBackgroundColor;
}
.vertical-menu .group:hover * {
  color: $theme.panelHeaderTextColor;
}

/* Selected item */
.vertical-menu .current {
  background-color: $theme.highlightColor;
  font-weight: bold;
}
.vertical-menu .current-group {
  background-color: $theme.panelHeaderBackgroundColor;
  color: $theme.panelHeaderTextColor;
}
.vertical-menu .current-group *, .vertical-menu .current-group *:visited, .vertical-menu .current-group *:active {
  color: $theme.panelHeaderTextColor;
}

/* Draw an arrow pointing right for the selected item */
.vertical-menu .current:after, .vertical-menu .current a:after {
  border-left: 10px solid $theme.highlightColor;
  border-top: 1.2em solid transparent;
  border-bottom: 1.2em solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  top: 0%;
}
.vertical-menu .current a:after {
  border-left-color: $theme.borderColor;
  right: -11px;
}
.vertical-menu .current-group:after {
  border-left-color: $theme.panelHeaderBackgroundColor !important;
}

/* Livetable */
.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagesize,
.container-fluid .xwiki-livetable-pagination .xwiki-livetable-limits  {
  line-height:30px;
}

.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagination-text {
  display:none;
}

.container-fluid .controlPagination {
  width:200px;
  height:36px;
  line-height: 34px;
  padding: 0 14px;
}

.container-fluid .controlPagination a {
  position:relative;
  float:left;
}

.container-fluid .controlPagination a.prevPagination,
.container-fluid .controlPagination a.noPrevPagination,
.container-fluid .controlPagination a.nextPagination,
.container-fluid .controlPagination a.noNextPagination {
    background-image: none;
    height: auto;
    width: auto;
    padding-top: 5px;
}

.container-fluid a.noPrevPagination,
.container-fluid a.prevPagination{
    margin-left: 20px;
}

.container-fluid .pagination {
  margin:0;
}

.container-fluid a.prevPagination span,
.container-fluid a.nextPagination span,
.container-fluid a.noPrevPagination span,
.container-fluid a.noNextPagination span {
  display:block !important;
}

.container-fluid a.noPrevPagination,
.container-fluid a.noNextPagination {
  color: #BFBFBF;
  cursor:normal;
}

.container-fluid a.noPrevPagination:hover,
.container-fluid a.noNextPagination:hover {
  text-decoration:none;
}

.container-fluid table td.actions {
  padding: 10px 10px 9px;
  background: inherit;
}

/* Fix panels */

.xwikipanelcontents p span.panelitem {
  display:block;
}

.xwikipanelcontents p span.pitemseparator {
  display:none;
}

/* Fix content menu. */

#contentmenu .rightmenu {
  display:none; /* Just an empty content menu is not enough : the annotation app automatically recreates the menu if it does not exists. */
}

#contentmenu a.edit:after {
  content: "\270E";
  font-size: 40px;
  position: relative;
  top: 15px;
}

#contentmenu a.edit:hover {
  text-decoration: none;
}

div.main.layoutsubsection {
  position:relative;
}

#contentmenu {
  position:absolute;
  right:6px;
  top:52px;
}

/* Edition */

textarea#content {
  width:100%;
  color:#303030;
}

.metadata input#title {
  font-size: 32px;
  height: 36px;
}

.metadata .help-block {
  font-size: 11px;
}

form#edit div.metadata {
  margin-bottom:15px;
}

table.xRichTextEditorTabPanel {
  background-color:transparent;
}

.metamodifs,
#autosaveControl {
  display:none !important;
}

.edit-meta-tools {
  display:none !important;
}

#*
#xwikieditcontent .fullScreenEditButton {
  display:none;
}

.fullScreenWrapper #mainEditArea {
  overflow-y: auto;
  overflow-x: hidden;
}

.fullScreenWrapper ul.tabs {
  position:fixed;
  width:100%
}

.fullScreenWrapper div.pill-content {
  margin-top:45px;
}
*#

/* data editors */

.xproperty-title h2, .xobject-title h3 {
  line-height: inherit !important;
  font-weight: normal !important;
}

#xwikiobjects .label {
  background-color:inherit !important;
}

#body #xwikiobjects label, #body #xwikiclassproperties label {
  float:none;
  background-color: inherit !important;
  line-height: inherit !important;
}
/* footer */

#footerglobal {
  margin-top:100px;
}
