#template('colorThemeInit.vm')

::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-track {background: #ccc;}
::-webkit-scrollbar-thumb {background: #aaa;}
::-webkit-scrollbar-thumb:hover {background: $theme.linkColor;}
::-webkit-scrollbar-thumb:active {background: $theme.titleColor;}

/* global */
body{background:$theme.pageBackgroundColor url(img/bg.png);color:$theme.textColor;font-family:sans-serif;}
h1,h2,h3,h4,h5,h6,#sidebar-control-links ul li,.xwikimessage legend, .sub-menu{color: $theme.titleColor; font-weight:700;letter-spacing:-4px;margin:0;padding:0}
h1{font-size:2.5em;}
h2{font-size:2.2em;}
h3{font-size:2em;}
h4{font-size:1.8em;}
h5{font-size:1.6em;}
h6{font-size:1.5em;}
time{font-style:italic}
.clear{clear:both}
a:link, a:active, a:visited { color: $theme.linkColor;}
legend {font-weight: 700}

/* clearfixes */
#xo-content dl:after, .globalsearch:after, form dd:after,.search:after {clear:left;content:".";display:block;height:0;visibility:hidden}

/* header + search */
header{position:fixed;right:0;top:0;width:23%;z-index:999999}
header h1{font-size:3em;font-weight:700;margin:10px}
nav#search{-moz-background-clip:padding;-webkit-background-clip:padding;background:$theme.pageContentBackgroundColor;background-clip:padding-box;border:10px solid rgba(0,0,0,0.1);margin-top:-10px;padding:5px}
.no-rgba nav#search{border:10px solid $theme.borderColor}
form .text-field{border:0;float:left;padding:2px;width:70%}
input.submit{background:url(img/sprite-icons.png) no-repeat 0 0;border:none;cursor:pointer;display:block;float:right;line-height:16px;margin:3px;overflow:hidden;padding:0;text-indent:-999px;width:20px}
#search input:hover{border:none}
#headerlanguages{float:right}

/* breadcrumb/login . provides drop down */
#viewer{padding:0;width:100%}
#viewer ul li{float:right;font-size:.8em}
#viewer ul li ul li{float:left;font-size:1.2em}

/* main content styling */
article#xo-content,div.suggestItems{-moz-box-shadow:30px 0 0 rgba(0,0,0,.1);-webkit-box-shadow:30px 0 0 rgba(0,0,0,.1);border-top:20px solid $theme.linkColor;box-shadow:30px 0 0 rgba(0,0,0,.1);color:$theme.textColor;font-size:.9em;padding:10px 10px 15px 30px}
article h1,.xwikimessage legend{font-size:3.5em !important;margin-bottom:10px}
.gadget{border:3px solid $theme.borderColor;border-left:0;border-right:0;margin:0 0 10px;padding:10px 0}
.gadget-title{font-size:2.2em !important;letter-spacing:-3px;margin-top:0!important}
article p{color:$theme.textColor;font-size:.9em;line-height:1.3em;margin-top:10px}
article ul,article ol{line-height:1.3em;list-style-position:inside;list-style-type:disc;margin:5px 1.5em}
article ol{list-style-type:decimal}
#xwikicontent a:active{color:$theme.textPrimaryColor}
#xwikicontent h1,article h2,article h3,article h4,article h5,article h6,article .itemTitle{color:$theme.titleColor;font-size:2.2em;letter-spacing:-3px;margin-top:10px}
article h2{color:$theme.titleColor;font-size:1.9em;letter-spacing:-2px}
article h3{color:$theme.titleColor;font-size:1.7em;letter-spacing:-2px}
article h4{color:$theme.linkColor;font-size:1.6em;letter-spacing:-2px}
article h5{color:$theme.linkColor;font-size:1.2em;letter-spacing:-1px}
article h6{color:$theme.panelTextColor;font-size:1em;letter-spacing:-1px}
.xwikimessage{margin:0;padding:0}
.xwikimessage legend{padding-bottom:10px}
.xwikimessage p{margin:0 -10px}
article .itemTitle a{color:$theme.titleColor;text-decoration:none}
article .resultItem{border-bottom:1px solid $theme.borderColor;margin:0;padding:10px 0}
article .resultItem a:visited{color:$theme.textSecondaryColor}
article .resultItem:hover .itemTitle a:visited{color:$theme.titleColor}
thead th{border-bottom:1px solid #ccc;color:$theme.textPrimaryColor;white-space:nowrap}
th,td{background-color:$theme.pageContentBackgroundColor;padding:.5em 0;text-align:right}
th{background:$theme.panelHeaderBackgroundColor;border-right:2px solid $theme.pageContentBackgroundColor;padding:.5em}
tr td tr td{padding:.5em}
th:first-child,td:first-child{text-align:left}
tbody th,td{border-bottom:1px solid $theme.borderColor}
#lb dt,#xo-content dt{color:$theme.textSecondaryColor;font-size:.8em;font-weight:700;margin:10px 0 0;text-transform:uppercase}
#lb dd,#xo-content dd{font-weight:400;margin:3px 0 0 10px}

/* modal box */
.xdialog-box{ border-radius: 0px; box-shadow: none}
.xdialog-title {background: none;}
.xdialog-title dt {padding: 5px;}
.xdialog-box dt {margin-top: 20px; font-size: .8em; text-transform: uppercase;}
.xdialog-box dt label {font-weight: 700;}
.xdialog-box textarea {width: 100%}
.mail-preview {padding: 10px !important; border-radius: 0px !important; margin-top: 3px; font-size: .8em}
.mail-preview p {margin-bottom: 10px;}
input.button, a.button {background: $theme.buttonPrimaryBackgroundColor; border: 1px solid $theme.borderColor; color: $theme.buttonPrimaryTextColor;}
input.button:hover, a.button:hover {border: 1px solid $theme.borderColor; background: $theme.buttonSecondaryBackgroundColor; color: $theme.buttonSecondaryTextColor;}
input.button:active, a.button:active {background: $theme.buttonPrimaryGradientColor; color: $theme.buttonPrimaryTextColor}
a.button {font-size: .85em; background: $theme.buttonPrimaryBackgroundColor;  color: $theme.buttonPrimaryTextColor !important; text-decoration: none; padding: 2px 5px; border: 1px solid $theme.borderColor; }
a.button:hover {color: $theme.buttonSecondaryTextColor !important;}

/* search suggest */
div.suggestItems{border:none;border-top:20px solid $theme.linkColor!important;box-shadow:30px 0 0 rgba(0,0,0,.1)!important;margin-bottom:20px;padding:0 0 10px;position:static}
.horizontalLayout div.resultContainer div.results,div.resultContainer div.sourceName{background:none;clear:both}
ul.xlist li.showAllResuts div.xitemcontainer{border:none;height:auto;padding-right:0;padding-top:0}
li.showAllResuts{background:$theme.backgroundSecondaryColor;display:block;float:none!important;font-size:.7em;font-weight:700;margin-bottom:10px;text-transform:uppercase}
.suggestItem{border-top:1px solid $theme.backgroundSecondaryColor;margin-right:10px;margin-top:-.2em;padding:5px}
.suggestItem .value{font-size:1.2em}
.suggestItem .info{color:$theme.textSecondaryColor;font-size:.78em;font-style:italic;margin-top:3px}
div.resultContainer div.sourceName{background-position:3px 3px;background-repeat:no-repeat}
.horizontalLayout div.resultContainer div.sourceName{background-position:right center;float:left;padding-right:25px;text-align:right}

/* edit */
#change-context{border:5px solid $theme.backgroundSecondaryColor;padding:0!important;width:auto}
#hierarchy{background:$theme.backgroundSecondaryColor;display:block;font-size:.8em;font-weight:700;margin:-10px -10px 10px -30px;padding:5px 10px 5px 30px;text-transform:uppercase}
#hierarchy a{color:$theme.titleColor;text-decoration:none}
#xo-content form h2 {display: inline; background: $theme.panelHeaderBackgroundColor; padding: 1px 10px;}
.horizontalLayout div.resultContainer div.results,div.resultContainer div.sourceName{background:none;clear:both}
ul.xlist li.showAllResuts div.xitemcontainer{border:none;height:auto;padding-right:0;padding-top:0}
li.showAllResuts{background:$theme.backgroundSecondaryColor;display:block;float:none!important;font-size:.7em;font-weight:700;margin-bottom:10px;text-transform:uppercase}
.suggestItem{border-top:1px solid $theme.backgroundSecondaryColor;margin-right:10px;margin-top:-.2em;padding:5px}
.suggestItem .value{font-size:1.2em}
.suggestItem .info{color:$theme.textSecondaryColor;font-size:.78em;font-style:italic;margin-top:3px}
div.resultContainer div.sourceName{background-position:3px 3px;background-repeat:no-repeat}
.horizontalLayout div.resultContainer div.sourceName{background-position:right center;float:left;padding-right:25px;text-align:right}
.xHint{color:$theme.textColor;display:inline;font-size:.8em;font-style:italic;margin:0 0 0 3px}
#xo-content form dl{border-top:2px solid $theme.borderColor;font-size:1em}
#lb dt,#lb dd,#xo-content form dt,form dd,.sourceName,.suggestItem{border-top:1px solid $theme.borderColor}
#lb dt,#xo-content form dt,.sourceName{clear:left;float:left;font-weight:700;margin:0;padding:10px 0;position:relative;text-align:right;width:140px}
#lb dt:hover .xHint,#xo-content form dt:hover .xHint{background:$theme.backgroundSecondaryColor;display:block;font-size:.8em;font-weight:400;left:140px;padding:3px;position:absolute;text-align:left;top:10px;width:350%;z-index:9999999}
#lb dd,#xo-content form dd{margin:0 0 0 150px;padding:10px 0}
#xo-content fieldset legend{color:$theme.panelHeaderTextColor;font-weight:700}
.fullScreenEditLink{background:$theme.pageContentBackgroundColor;padding:5px}
#xo-content form textarea{margin-top:5px;width:80%}
.buttons{background:$theme.backgroundSecondaryColor;margin:20px 0;padding:20px}
.wikigeneratedheader{border-bottom:3px solid $theme.borderColor;margin:10px 0 0}
.gadget .wikigeneratedheader{border:0;margin:10px 0}
.dashboard-edit .addgadget,.dashboard-edit .addcontainer{margin:0 10px 10px 0}
.class dd,.object dd{margin-left:0}
#lb .lb-content{padding:0}
.lb-content p{border-bottom:1px solid $theme.borderColor;padding:10px 0}
.lb-content .half{width:100%}
#lb dt .xHint,#xo-content form dt .xHint,#lb-top,.rounded{display:none}

/* profile */
#vertical-tabs ul li.active {border: none; border-top: 1px solid $theme.linkColor; border-bottom: solid 3px $theme.linkColor;}
#vertical-tabs ul li:hover {background:$theme.backgroundSecondaryColor; }
#vertical-panes h1{font-size: 2em !important; letter-spacing: -2px !important}

/* blog */
.blogDay{border-top:3px solid $theme.borderColor;padding-bottom:10px}
.blogdate{background:$theme.borderColor;border:5px solid $theme.borderColor;font-size:1em;margin:-13px 0 0 -56px}
.blogdate .month,.blogdate .year{color:$theme.textSecondaryColor!important;font-size:1em}
.blogdate .day{background:none}
.hentry{margin-left:10px}
.entry-title{border-bottom:1px solid $theme.borderColor;font-size:2.5em;margin:0!important;padding:0 0 .35em!important}
.entry-summary p,.entry-content p{font-size:1.2em}
.entry-summary ul,.entry-content p{margin-bottom:10px;margin-top:10px}
.entry-summary li ul,.entry-content p,.entry-summary li ol{margin-top:0}
.entry-footer{border-bottom:2px solid $theme.borderColor;margin-top:.25em!important;padding:.5em 0;text-align:right}
.entry-footer address{display:inline}
#xwikicontent form{border:1px solid $theme.borderColor;border-left:0;border-right:0;margin:.35em 0;padding:.35em 0 .3em}
.gwt-MenuBar-vertical,.gwt-MenuItemSeparator{border:none!important}
.gwt-MenuBarPopup table{background:$theme.backgroundSecondaryColor}
.gwt-MenuBar td{border:0!important}
.menuPopupTop,.menuPopupBottom{display:none}
.blog-entry-toolbox{background:$theme.backgroundSecondaryColor;margin:-10px 0 10px 10px;padding:3px}
.hentry + .hentry{border-top:2px solid $theme.borderColor!important;padding-top:.7em!important}


/* compression of similar styles */
::-webkit-scrollbar-track,.xwikitabbar li:hover{background:$theme.panelHeaderGradientColor}
a,#change a,#change a:visited,#xwikicontent p a,article .resultItem:hover a:visited{color:$theme.linkColor}
#change a:hover{color:$theme.panelTextColor}
#xo-content a:hover,#xwikicontent p a:hover{color:$theme.panelHeaderTextColor}
.menu-drop a{color:$theme.textColor;text-decoration:none}
form,.xwiki-livetable-container table,.xwiki-livetable-display-header-filter input,.enhanced,#historycontent-wrapper table{width:100%}
#sidebar-control-links:hover a:hover,.menu-drop ul li:hover a,#tmCreate:hover a,#tmCreate:hover{color:$theme.buttonPrimaryTextColor}
#page-meta dl dd,.sourceName{margin-left:10px}
#page-meta dl dt,.menu-drop strong,article p strong{font-weight:700}
article .itemTitle,#hierarchy p{margin-top:0}
#sidebar .page-form dt,dd{border:0}
li.showAllResuts a,#hierarchy a:hover{color:$theme.textColor}
.showAllResuts .suggestItem,#historycontent-wrapper .buttons{padding:0}

/* layout high density tablet/phone equivalent to the next media-query*/
@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .touch header:after{clear:both;content:".";display:block;height:0;visibility:hidden}
  .touch header{position:static;text-align:left;width:40%}
  .touch header h1{display:inline;float:left;margin:10px auto 4px 10px}
  .touch nav#search{float:right;margin:10px;width:40%}
  .touch section{margin-bottom:20px}
  .touch #viewer{margin:0 10px;width:auto}
  .touch #tmCreate{background:rgba(256,256,256,.5);margin:0}
  .touch .no-rgba  #tmCreate{background:#000}
  .touch #page-suplemental,.touch article{box-shadow:none}
  .touch #tmCreate a,.touch #tmCreate:hover a{color:$theme.textColor}
}
@media only screen and (max-width: 850px) {
  form .text-field {width: 78%}
}
/* layout regular small width */
@media only screen and (max-width: 600px) {
  header:after{clear:both;content:".";display:block;height:0;visibility:hidden}
  header{position:static;text-align:center;width:95% !important}
  header h1{margin:10px auto 4px}
  nav#search{margin:0 auto;width:90%}
  #viewer{margin:0 10px;width:auto}
  #tmCreate{background:rgba(256,256,256,.5);margin:0}
  .no-rgba  #tmCreate{background:#000}
  #tmCreate a,#tmCreate:hover a{color:$theme.textColor}
}
/* detailing reponsive */
@media only screen and (max-width: 410px) {
  .column li{margin-right:0!important}
}
@media only screen and (max-width: 300px) {
  .xwikitabbar li{border-bottom:2px solid #eee;margin:0;padding:.5em 0;width:100%}
}

