#template('colorThemeInit.vm')
article, aside, details, figcaption, figure, footer, header,
  hgroup, menu, nav, section { display: block; } /*html 5*/

::-webkit-scrollbar-track {background: #ccc;}
::-webkit-scrollbar-thumb {background: #aaa;}
::-webkit-scrollbar-thumb:hover {background: #777;}
::-webkit-scrollbar-thumb:active {background: #888;}

body{background:$theme.pageBackgroundColor url(img/bg.png);color:$theme.textColor;font-family:sans-serif;margin:0;overflow-x:hidden;padding:0}
h1,h2,h3,h4,h5,h6,#sidebar-control-links ul li,.xwikimessage legend{color: $theme.titleColor; font-weight:700;letter-spacing:-4px;margin:0;padding:0}
h1{font-size:2.5em}
h2{font-size:2.2em;}
h3{font-size:2em; }
h4{font-size:1.8em}
h5{font-size:1.6em}
h6{font-size:1.5em}
time{font-style:italic}
.clear{clear:both}
a:link, a:active, a:visited { color: $theme.linkColor;}
strong {font-weight: 700}
em {font-style: italic}

h2,#sidebar-control-links ul li a{font-size:2em;letter-spacing:-2px}
#xo-content dl:after, .globalsearch:after, form dd:after,.xwikitabbar:after,.floatcontainer:after,.search:after,#historycontent-wrapper:after
.each-comment:after,#nav-icons:after,#page-actions:after,.menu-drop:after,#xo-content:after,#gadget-container:after,#sidebar-control-links ul li:after
{clear:left;content:".";display:block;height:0;visibility:hidden}
.wikigeneratedheader:before, .buttons:before {clear:left;content:".";display:block;height:0;visibility:hidden}

#hint{background:rgba(0,0,0,.1);font-weight:700;padding:3px;text-align:center}
header{min-width:290px;position:fixed;right:0;top:0;width:23%;z-index:999999}
header h1{font-size:3em;font-weight:700;margin:14px 10px}
nav#search{-moz-background-clip:padding;-webkit-background-clip:padding;background:$theme.pageContentBackgroundColor;background-clip:padding-box;border:10px solid rgba(0,0,0,0.1);margin-top:-10px;padding:5px}
.no-rgba nav#search{border:10px solid $theme.borderColor}
form .text-field{border:0;float:left;padding:2px;width:86%}
input.submit{background:url(img/sprite-icons.png) no-repeat 0 0;border:none;cursor:pointer;display:block;float:left;line-height:16px;margin:3px;overflow:hidden;padding:0;text-indent:-999px;width:20px}
#headerlanguages{float:right}

#sidebar{float: right; margin-top: 130px; bottom: 0px; right: 0px;z-index:999; min-width:290px; width:23%;}
.panel {width: 200px;}
#sidebar .panel {width: 100%}
.no-js #sidebar{min-width:0}
#sidebar h3,.xwikipaneltitle{font-size:1.6em;letter-spacing:-1px; color: $theme.panelHeaderTextColor; }
nav#sidebar-control {height: 20%; padding: 30px 0 0px 0; position: relative;}
#sidebar-control-icons {margin: 0 0 10px 10px;}
#sidebar-control-links {clip: rect(0px 300px 40px 0px); position: absolute; top: 60px; z-index: 999; }
#sidebar-control-links h2 { padding: 5px; visibility: hidden;}
#sidebar-control-links:hover {clip: auto;}
#sidebar-control-links ul {list-style-type: none; margin: 0px; padding: 0px; width: 100%; }
#sidebar-control-links ul li {background: $theme.menuBackgroundColor; padding: 5px 10px; width: 100%;}
#sidebar-control-links ul li a {float: left; text-decoration: none; }
#sidebar-control-links ul li span {color: $theme.textSecondaryColor; margin-left: 3px;}
.active-control {background: none !important; position: absolute; top: 0px; }
.active-control a {color: $theme.titleColor;}
#sidebar-control-links:hover .active-control {background:  $theme.textPrimaryColor !important; box-shadow: inset 30px 0px 0px rgba(0, 0, 0,.1); }
#sidebar-control-links:hover a {color: $theme.menuLinkColor; !important;}
#sidebar-control-links:hover a:hover {color: $theme.fieldGradientColor; !important;}

#change{bottom:0;overflow-x:auto;overflow-y:hidden; padding:0 10px 0 10px; position:absolute; top: 230px; }
#change:hover{overflow-y:auto}
#change h3{margin:10px 0 5px}
#change ul li a,.panels a{font-size:1.2em;letter-spacing:-1px;text-decoration:none}
#change section{margin-bottom:100px}
#change section h2 span{color:$theme.textSecondaryColor;font-weight:700}
#page-suplemental{background:$theme.pageContentBackgroundColor;box-shadow:inset 30px 0 0 rgba(0,0,0,.1);margin:10px -10px;padding:10px}
#page-meta{background:url(img/bg.png);font-size:.8em;margin:0 -10px;padding:10px}

#table-of-contents{margin:0}
#table-of-contents h3{margin:0 0 5px}
#table-of-contents ul li ul{border-left:2px solid rgba(0,0,0,.1);font-size:.8em;padding:5px 10px}
.each-comment{background:rgba(255,255,255,.4);font-size:.9em;margin:0 -10px 10px;padding:10px}
.each-comment:hover, #page-suplemental:hover{background: $theme.highlightColor;}
.no-rgba .each-comment{background:$theme.panelBackgroundColor}
.each-comment-user img{float:left;margin:0 10px 0 0}
.each-comment-user h4{font-size:1.4em;letter-spacing:-1px;margin:10px 0 0}
.each-comment legend{font-weight:700;margin-bottom:10px}

.menu-drop{margin-right:-30px;padding:5px 10px;position:relative;z-index:1}
.menu-drop ul li{float:left;font-weight:700;padding:5px}
.menu-drop ul li span{font-weight:400;margin-right:2px}
.menu-drop ul li:hover{background:$theme.buttonPrimaryBackgroundColor; color:$theme.buttonSecondaryBackgroundColor}
.menu-drop ul li ul{background:$theme.buttonPrimaryBackgroundColor; display:none;font-size:.8em;margin:5px 0 0 -5px;padding:5px;position:absolute}
.no-rgba .menu-drop ul li ul li:hover{background:$theme.buttonPrimaryTextColor}
.menu-drop ul li ul hr,#sidebar section hr{height:1px;visibility:hidden}
.menu-drop ul li ul a{color:$theme.buttonPrimaryTextColor;text-decoration:none}
.menu-drop ul li ul li{float:none}
.menu-drop ul li ul li:hover {background: $theme.buttonSecondaryBackgroundColor }
.menu-drop ul li ul li:hover a,  #tmCreate ul li:hover a {color: $theme.buttonSecondaryTextColor}
.menu-drop ul li ul li:before{content:"";margin:0}
.menu-drop ul li:hover ul{display:block}

#viewer{padding:0;width:100%}
#viewer ul li{float:right;font-size:.8em}
#viewer ul li ul li{float:left;font-size:1.2em}

#tmCreate{margin-right:10px}
#tmCreate a,#tmCreate{color:$theme.titleColor}
#tmCreate:after{content:" + "}

/* main content styling */
#main-area {width: 77%}
article#xo-content,div.suggestItems{background:$theme.pageContentBackgroundColor;border-top:20px solid $theme.linkColor !important; -moz-box-shadow:30px 0 0 rgba(0,0,0,.1);-webkit-box-shadow:30px 0 0 rgba(0,0,0,.1); box-shadow:30px 0 0 rgba(0,0,0,.1)  !important;color:$theme.textColor;font-size:.9em;padding:10px 10px 15px 30px;}
article h1,.xwikimessage legend{font-size:3.5em;margin-bottom:10px}

blockquote, .box, .errormessage, .warningmessage, .infomessage, .successmessage, .plainmessage{background:$theme.backgroundSecondaryColor; color:$theme.textColor;display:block;font-weight: 400; margin:10px -10px 10px -30px;padding:10px 10px 10px 30px}
.box span,.xwikimessage span, .warningmessage span, .errormessage span {font-weight: 700}
.plainmessage {padding-left: 50px; background-position: 30px center !important;}
.warningmessage {background: $theme.notificationWarningColor; color: $theme.buttonPrimaryTextColor;}
.errormessage{background:$theme.notificationErrorColor; color: $theme.buttonPrimaryTextColor;}
.successmessage {background: $theme.notificationSuccessColor;}
.infomessage {background-image: url("$xwiki.getSkinFile('icons/silk/information.png')");}
.warningmessage {  background-image: url("$xwiki.getSkinFile('icons/silk/error.png')");}
.errormessage {background-image: url("$xwiki.getSkinFile('icons/silk/exclamation.png')");}
.successmessage {background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')")}
.infomessage, .warningmessage, .errormessage, .successmessage {background-position:  8px 9px; background-repeat:  no-repeat;}
.messagetype {display: none;}

#gadget-left,#gadget-right{float:left;width:48.5655930376%}
#gadget-left{margin-left:.7%}
#gadget-right{float:right;margin-right:.7%}
.gadget{border:3px solid $theme.borderColor;border-left:0;border-right:0;margin:0 0 10px;padding:10px 0}
.gadget-title{font-size:2.2em;letter-spacing:-3px;margin-top:0!important}
article p{color:$theme.textColor;font-size:.9em;line-height:1.3em;margin-top:10px}
article ul,article ol{line-height:1.3em;list-style-position:inside;list-style-type:disc;margin:5px 1.5em}
article ol{list-style-type:decimal}
.nextPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) right top!important}
.prevPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) left top!important}
.noNextPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) right bottom!important}
.noPrevPagination:hover{background:url(/xwiki/resources/icons/xwiki/pagination%2Dcontrols.png) left bottom!important}
#xwikicontent a:active{color:$theme.textPrimaryColor}
#xwikicontent h1,article h2,article h3,article h4,article h5,article h6,article .itemTitle{color:$theme.titleColor;font-size:2.2em;letter-spacing:-3px;margin-top:10px}
article h2{color:$theme.titleColor;font-size:1.9em;letter-spacing:-2px}
article h3{color:$theme.titleColor;font-size:1.7em;letter-spacing:-2px}
article h4{color:$theme.linkColor;font-size:1.6em;letter-spacing:-2px}
article h5{color:$theme.linkColor;font-size:1.2em;letter-spacing:-1px}
article h6{color:$theme.panelTextColor;font-size:1em;letter-spacing:-1px}
article sub,article sup{font-size:.8em}
article sub{vertical-align:sub}
article table{line-height:1.3em}
article th{font-weight:bolder;text-align:center}
.xwikimessage{margin:0;padding:0}
.xwikimessage legend{padding-bottom:10px}
.xwikimessage p{margin:0 -10px}
article .itemTitle a{color: $theme.titleColor;text-decoration:none}
article .resultItem{border-bottom:1px solid $theme.borderColor;margin:0;padding:10px 0}
article .resultItem a:visited{color:$theme.textSecondaryColor}
article .resultItem:hover .itemTitle a:visited{color:$theme.titleColor}
.table-menu-btn{background:$theme.panelHeaderBackgroundColor;border-bottom:1px solid $theme.borderColor;color:$theme.textColor!important;font-size:.8em;font-weight:700;padding:.2em 1em;text-decoration:none;text-transform:uppercase}
.table-menu-wrapper{bottom:-1em;left:0;position:absolute}
#xo-content .table-menu-wrapper{bottom:-.9em}
.table-menu{background-color:$theme.panelHeaderBackgroundColor; font-size: .8em;left:0;padding:10px;position:absolute;width:12em}
.table-menu-hidden{left:-999em;right:auto}
.table-menu li{padding:.3em 0}
thead th{border-bottom:1px solid #ccc;color:$theme.textPrimaryColor;white-space:nowrap}
th,td{background-color:$theme.pageContentBackgroundColor;padding:.5em 0;text-align:right}
th{background:$theme.panelHeaderBackgroundColor;border-right:2px solid $theme.pageContentBackgroundColor;padding:.5em}
tr td tr td{padding:.5em}
th:first-child,td:first-child{text-align:left}
tbody th,td{border-bottom:1px solid $theme.borderColor}
.legacy-ie .enhanced th.essential,.legacy-ie .enhanced td.essential{display:inline}
.enhanced th.essential,.enhanced td.essential{display:table-cell}
.xwikitabbar{background:$theme.panelHeaderBackgroundColor;list-style-type:none;margin:0;padding:0}
.xwikitabbar a{text-decoration:none}
.xwikitabbar li {float:left;margin:0 .3em;padding:.5em; border-bottom:2px solid $theme.panelHeaderBackgroundColor;}
.xwikitabbar li a:hover{background:none!important}
.xwikitabbar .active{border-bottom:2px solid $theme.titleColor;position:static}
#xo-content form h2 {display: inline; background: $theme.panelHeaderBackgroundColor; padding: 1px 10px;}
.xHint {margin: 0 0 0 3px; font-size: .8em; color: $theme.textColor; display: inline; font-style: italic}
#xo-content form dl {border-top: 2px solid $theme.borderColor}
#xo-content form dt,form dd,.sourceName,.suggestItem{border-top:1px solid $theme.borderColor;}
#xo-content form dt,.sourceName{clear:left;float:left;font-weight:700;padding:10px 0;text-align:right;width:140px; position: relative}
#xo-content form dt:after{content:":"}
#xo-content form dt .xHint{display: none;}
#xo-content form dt:hover .xHint {display: block; font-weight: 400; font-size: .8em; position: absolute; text-align: left; padding: 3px; background: $theme.notificationInfoColor; left: 140px; top:10px; width: 350%; z-index: 9999999}
#xo-content form dd{margin:0 0 0 150px;padding:10px 0}
#xo-content fieldset legend{color:$theme.panelHeaderTextColor;font-weight:700}
.fullScreenEditLink{background:$theme.pageContentBackgroundColor;padding:5px}
#xo-content form textarea{margin-top:5px;width:80%}
.buttons{background:$theme.backgroundSecondaryColor;margin:20px 0;padding:20px;}
.wikigeneratedheader {border-bottom: 3px solid $theme.borderColor; margin: 10px 0 0 0; }
#xwikicontent .wikigeneratedheader {border: 0; margin: 10px 0 ; }

.xdialog-box{ border-radius: 0px; box-shadow: none}
.xdialog-title {background: none;}
.xdialog-title dt {padding: 5px;}
.xdialog-box dt {margin-top: 20px; font-size: .8em; text-transform: uppercase;}
.xdialog-box dt label {font-weight: 700;}
.mail-preview {padding: 10px !important; border-radius: 0px !important; margin-top: 3px; font-size: .8em}
.mail-preview p {margin-bottom: 10px;}
input.button, a.button {background: $theme.buttonPrimaryBackgroundColor; border: 1px solid $theme.borderColor; color: $theme.buttonPrimaryTextColor;}
input.button:hover, a.button:hover {border: 1px solid $theme.borderColor; background: $theme.buttonSecondaryBackgroundColor; color: $theme.buttonSecondaryTextColor;}
input.button:active, a.button:active {background: $theme.buttonPrimaryGradientColor; color: $theme.buttonPrimaryTextColor}
a.button {font-size: .85em; background: $theme.buttonPrimaryBackgroundColor;  color: $theme.buttonPrimaryTextColor !important; text-decoration: none; padding: 2px 5px; border: 1px solid $theme.borderColor; }
a.button:hover {color: $theme.buttonSecondaryTextColor !important;}

div.suggestItems{margin-bottom:20px;padding:0 0 10px; position: static;border: none; }
.horizontalLayout div.resultContainer div.results, div.resultContainer div.sourceName{clear:both;background: none;}
ul.xlist li.showAllResuts div.xitemcontainer{border: none;height: auto;padding-right:0px;padding-top:0px;}
li.showAllResuts{background:$theme.backgroundSecondaryColor;display:block;float:none!important;font-size:.7em;font-weight:700;text-transform:uppercase; margin-bottom: 10px;}
.suggestItem{margin-top:-.2em;padding:5px}
.suggestItem{border-top:1px solid $theme.backgroundSecondaryColor;margin-right:10px}
.suggestItem .value{font-size:1.2em;}
.suggestItem .info{color:$theme.textSecondaryColor;font-size:.78em;font-style:italic;margin-top:3px}
div.resultContainer div.sourceName{background-position:3px 3px;background-repeat:no-repeat}
.horizontalLayout div.resultContainer div.sourceName{background-position:right center;float:left;padding-right:25px;text-align:right}

/* edit */
#change-context{border:5px solid $theme.backgroundSecondaryColor;padding:0!important;width:auto}
#hierarchy{background: $theme.backgroundSecondaryColor;display:block;font-size:.8em;font-weight:700;margin:-10px -10px 10px -30px;padding:5px 10px 5px 30px;text-transform:uppercase}
#hierarchy a{color:$theme.titleColor;text-decoration:none}

/* docextras */
.sprite{background:url(img/sprite-icons.png) no-repeat;float:left;height:20px;margin-right:20px;position:relative;width:20px}
.sprite span{color:$theme.linkColor;font-weight:700;position:absolute;right:-10px;top:-5px}
.sprite-search-png{background-position:0 0}
.sprite-navigation-png{background-position:0 -31px}
.sprite-comments-png{background-position:-62px 0}
.sprite-attachments-png{background-position:-31px -62px}
.sprite-history-png{background-position:-62px -31px}
.sprite-information-png{background-position:-31px -31px}
.sprite-export-png{background-position:-31px 0}
.sprite-edit-png{background-position:0 -62px}
.panel{margin-bottom:10px}
.commenttool a{background:transparent left top no-repeat;display:block;float:left;height:16px;line-height:30px;margin:0 0 0 4px;overflow:hidden;text-indent:30px;width:16px}
.comment-permalink a{background-image:url(/xwiki/resources/icons/silk/link.png)}
.commentreply a{background-image:url(/xwiki/resources/icons/silk/comments_add.png)}
.attachment:hover{background:$theme.highlightColor}
.attachment .information{color:$theme.textPrimaryColor;overflow:hidden}
.attachment .mime{float:left;padding:0 8px 0 0}
.attachment .name{font-size:1.35em}
.attachment .meta{clear:left}
.attachment .size{color:$theme.textSecondaryColor}
.attachment .xwikibuttonlinks{float:right;width:60px}
.attachmentActionButton{background:transparent 2px center no-repeat;background-color:transparent;border:none;cursor:pointer;font-size:80%;margin-bottom:4px;padding:2px 4px 2px 20px}
.add-file-input{background-image:url(/xwiki/resources/icons/silk/textfield_add.png);background-position:2px top;color:$theme.panelTextColor}
.remove-file-input{background-image:url(/xwiki/resources/icons/silk/cross.png);text-indent:30px;width:16px}
.uploadFileInput{margin:5px 10px 5px 0 !important}
.attachment .xwikibuttonlinks a{background:transparent left top no-repeat;display:block;float:right;height:16px;margin:0 0 0 4px;overflow:hidden;text-indent:-1000em;width:16px}
.attachment .xwikibuttonlinks a.viewlink{background-image:url(/xwiki/resources/icons/silk/eye.png)}
#close-history{float:right;margin:.2em 1em}
#historycontent-wrapper-helper{background:rgba(0,0,0,.5);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:9999999}
#historycontent-wrapper{background:$theme.pageContentBackgroundColor;margin-top:12%;padding:1em;position:relative}
#historycontent-wrapper .buttonwrapper{float:right;margin:-.8em 0 0}
#lb {margin-top: 12%}

.vertical-menu {border: 1px solid $theme.borderColor;border-top-width: 0;float: left;font-size: .857em;/* 14px -> 12px */margin: 0 2.5em 2em 0;width: 20%;}
#admin-page-content {width: 70%; float: left; margin: 0px  !important;}

/* blog */
.blogDay {border-top: 3px solid $theme.borderColor; padding-bottom: 10px}
.blogdate {margin: -13px 0 0 -56px; border: 5px solid $theme.borderColor; background:$theme.borderColor; font-size: 1em;}
.blogdate .month, .blogdate .year {font-size: 1em; color: $theme.textSecondaryColor !important;}
.blogdate .day {background: none}
.hentry {margin-left: 10px;}
.entry-title {font-size: 2.5em; border-bottom: 1px solid $theme.borderColor; padding: 0 0 .35em 0 !important; margin: 0!important;}
.entry-summary p, .entry-content p {font-size: 1.2em}
.entry-summary ul, .entry-content p {margin-top:10px; margin-bottom: 10px;}
.entry-summary li ul, .entry-content p, .entry-summary li ol {margin-top:0px;}
.entry-footer {text-align: right; margin-top: .25em !important; padding: .5em 0; border-bottom: 2px solid $theme.borderColor; }
.entry-footer address {display: inline}
#xwikicontent form {border: 1px solid $theme.borderColor; border-left: 0px; border-right: 0px; margin: .35em 0 ; padding: .35em 0 .3em;}
.gwt-MenuBar-vertical, .gwt-MenuItemSeparator {border: none !important}
.gwt-MenuBarPopup table {background: $theme.backgroundSecondaryColor}
.gwt-MenuBar td {border: 0px !important;}
.menuPopupTopCenter, .menuPopupBottomCenter {height: 2px;}
.blog-entry-toolbox {padding:3px; background: $theme.backgroundSecondaryColor; margin: -10px 0 10px 10px;}
.hentry + .hentry {padding-top: .7em !important; border-top: 2px solid $theme.borderColor !important;}
.e

/* compression of similar styles */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
::-webkit-scrollbar-track,.xwikitabbar li:hover{background:$theme.panelHeaderGradientColor}
.mobile,.no-touch #swipe-hint,#sidebar-handle,.enhanced th,.enhanced td,.DocumentInformation h1{display:none}
a,#change a,#change a:visited,#xwikicontent p a,article .resultItem:hover a:visited{color:$theme.linkColor;}
#change a:hover{color:$theme.panelTextColor}
#xo-content a:hover,#xwikicontent p a:hover{color: $theme.panelHeaderTextColor}
#hint a,.menu-drop a{color:$theme.textColor;text-decoration:none}
form,.xwiki-livetable-container table,.xwiki-livetable-display-header-filter input,.enhanced,#historycontent-wrapper table{width:100%}
#sidebar-control-links:hover a:hover,.menu-drop ul li:hover a,#tmCreate:hover a,#tmCreate:hover{color:$theme.buttonPrimaryTextColor}
#page-meta dl dd,.sourceName{margin-left:10px}
#page-meta dl dt,.menu-drop strong,article p strong{font-weight:700}
.version,article sup{vertical-align:super}
#xwikiuploadfile{width:80%}
.menu-drop ul,.table-menu ul{list-style-type:none;margin:0;padding:0}
article .itemTitle,#hierarchy p{margin-top:0}
.xwiki-livetable-display-container,.table-wrapper{position:relative}
th:last-child,#sidebar .page-form dt,dd{border:0}
li.showAllResuts a,#hierarchy a:hover{color:$theme.textColor}
.showAllResuts .suggestItem,#historycontent-wrapper .buttons{padding:0}
.commentdelete a,.attachment .xwikibuttonlinks a.deletelink{background-image:url(/xwiki/resources/icons/silk/cross.png)}
.commentedit a,.attachment .xwikibuttonlinks a.editlink{background-image:url(/xwiki/resources/icons/silk/pencil.png)}

/* live table responsive */
@media screen and (min-width: 400px) { 
  .legacy-ie .enhanced th.optional,.legacy-ie .enhanced td.optional{display:inline}
  .enhanced th.optional,.enhanced td.optional{display:table-cell}
}
@media screen and (min-width: 800px) {
  .legacy-ie .enhanced th,.legacy-ie .enhanced td{display:inline}
  .enhanced th,.enhanced td{display:table-cell}
}

/* layout reponsive */

@media only screen and (max-width: 1024px) {
  #sidebar,header{width:30%}
  #main-area{width:70%}
  .first-column,.last-column,.half{float:none!important;width:100%!important}
}
/* layout high density tablet/phone equivalent to the next media-query*/
@media all and (max-width: 1024px) and (min-width: 600px) {
  .touch .sourceName{width:100px}
  .touch .xwikitabbar li{border-bottom:2px solid $theme.borderColor;margin:0;padding:.5em 0;width:50%}
  .touch .xwikitabbar li a{margin-left:.5em}
  .touch .mobile{display:block}
  .touch header:after,.menu-drop ul li:after,#menu-drop:before{clear:both;content:".";display:block;height:0;visibility:hidden}
  .touch header{position:static;text-align:left;width:40%}
  .touch header h1{display:inline;float:left;margin:10px auto 4px 10px}
  .touch nav#search{float:right;margin:10px;width:40%}
  .touch .menu-drop a{color:$theme.pageContentBackgroundColor}
  .touch #sidebar{bottom:auto;height:auto;position:static;width:100%; margin-top: 0;}
  .touch #sidebar-wrapper{background:$theme.backgroundSecondaryColor url(img/bg.png);padding:0 0 0 5%;position:absolute;right:-90%;top:0;width:90%}
  .touch #sidebar-handle{display:block;left:-98px;position:absolute;top:200px}
  .touch #sidebar-handle h2{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);font-size:1.45em;text-transform:lowercase;transform:rotate(90deg)}
  .touch .no-csstransforms #sidebar-handle{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);left:0}
  .touch #sidebar-handle h2 a:link,#sidebar-handle h2 a:visited{color:$theme.titleColor}
  .touch #sidebar-handle h2 a:hover{color:$theme.titleColor}
  .touch #change{bottom:auto;overflow-x:hidden;overflow-y:auto;position:static;top:auto}
  .touch section{margin-bottom:20px}
  .touch #sidebar-control-selector{margin:40px 10px 10px}
  .touch #main-area{width:95%}
  .touch .menu-drop{margin:0}
  .touch .menu-drop ul li{background:rgba(0,0,0,.5);color:$theme.buttonPrimaryTextColor;float:none;margin:5px 0}
  .touch .no-rgba .menu-drop ul li{background:$theme.backgroundSecondaryColor}
  .touch .menu-drop ul li:before{content:"";margin:0}
  .touch .breadcrumb-drop{display:inline;float:right}
  .touch #viewer{margin:0 10px;width:auto}
  .touch #tmCreate{background:rgba(256,256,256,.5);margin:0}
  .touch #tmCreate a{color:$theme.textColor}
  .touch #tmCreate:hover a{color:$theme.textColor}
  .touch article section h2:after{content:' +'}
  .touch .expanded:after{content:' -'}
  .touch .column li{margin-right:10px!important}
  .touch .column li a,#viewer li a{float:left}
  .touch .column li select,#viewer li select{margin:0 0 0 10px}
  .touch #page-suplemental,.touch article{box-shadow:none}
  .touch #sidebar-control-links,.touch .menu-drop ul li:hover ul,.touch .section-content{display:none}
}

@media all and (max-width: 850px) {
	.vertical-menu {width: 100%; float: none; }
	#admin-page-content {width:100%; float: none; }
  	.xwikitabbar li{border-bottom:2px solid $theme.borderColor;margin:0;padding:.5em 0;width:50%}
	.xwikitabbar li a{margin-left:.5em}
}
/* layout regular small width */
@media all and (max-width: 600px) {
  .mobile{display:block}
  header:after,.menu-drop ul li:after{clear:both;content:".";display:block;height:0;visibility:hidden}
  header{position:static;text-align:center;width:95%}
  header h1{margin:10px auto 4px}
  nav#search{margin:0 auto;width:90%}
  .menu-drop a {color:$theme.pageContentBackgroundColor}
  #sidebar{bottom:auto;height:auto;position:static;width:100%; margin-top: 0;}
  #sidebar-wrapper{background:$theme.backgroundSecondaryColor url(img/bg.png);padding:0 0 0 5%;position:absolute;right:-90%;top:0;width:90%}
  #sidebar-handle{display:block;left:-98px;position:absolute;top:200px}
  #sidebar-handle h2{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);font-size:1.45em;text-transform:lowercase;transform:rotate(90deg)}
  .no-csstransforms #sidebar-handle{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);left:0}
  #sidebar-handle h2 a:link,#sidebar-handle h2 a:visited{color:$theme.titleColor}
  #sidebar-handle h2 a:hover{color:$theme.titleColor}
  #change{bottom:auto;overflow-x:hidden;overflow-y:auto;position:static;top:auto}
  section{margin-bottom:20px}
  #sidebar-control-selector{margin:40px 10px 10px}
  #main-area{width:95%}
  .menu-drop{margin:0}
  .menu-drop ul li{background:rgba(0,0,0,.5);color:$theme.pageContentBackgroundColor;float:none;margin:5px 0}
  .no-rgba .menu-drop ul li{background:$theme.backgroundSecondaryColor}
  .menu-drop ul li:before{content:"";margin:0}
  .breadcrumb-drop{display:inline;float:right}
  #viewer{margin:0 10px;width:auto}
  #tmCreate{background:rgba(256,256,256,.5);margin:0}
  #tmCreate a{color:$theme.textColor}
  #tmCreate:hover a{color:$theme.textColor}
  .gadget-title:after{content:' +'}
  .expanded:after{content:' -'}
  .column li{margin-right:10px!important}
  #viewer li a{float:left}
  .column li select,#viewer li select{margin:0 0 0 10px}
  #page-suplemental,article{box-shadow:none}
  #sidebar-control-links,.menu-drop ul li:hover ul,.gadget-content{display:none}
}
/* detailing reponsive */
@media all and (max-width: 410px) {
  .column li{margin-right:0!important}
}
@media all and (max-width: 300px) {
  .xwikitabbar li{border-bottom:2px solid #eee;margin:0;padding:.5em 0;width:100%}
}

.clearfloats {
  clear: both;
  height: 1px;
  margin: -1px 220px 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.loading {
  background: transparent url($xwiki.getSkinFile('icons/xwiki/spinner.gif')) no-repeat center;
}

.separator {
  /*color: $theme.textSecondaryColor; */
  padding-top: 3px;
  margin: 0 10px;
}

.column {
  float: left;
}
.full {
  /* Leave a bit of space for borders. */
  width: 99.8%;
}
.half {
  /* Rounding errors with 50%, might end up with one more pixel which pushes the column down. */
  width: 99.8%;
}
.third {
  /* Rounding errors with 33.3%, might end up with one more pixel which pushes the column down. */
  width: 99.8%;
}

.avatar_30 {
  max-width: 30px;
  max-height: 30px;
}
* html .avatar_30 {
  width: 30px;
}
.avatar_50 {
  max-width: 50px;
  max-height: 50px;
}
* html .avatar_50 {
  width: 50px;
}
.avatar_120 {
  max-width: 120px;
  max-height: 120px;
}
* html .avatar_120 {
  width: 120px;
}
th.avatar {
  width: 50px;
}

/**
 * Fix places where the "default avatar" image height is hardcoded in the DOM instead
 * of being set in CSS (For example in livetable user columns).
 * This ultimately should be fixed right in XWiki/XE.
 */
img[height][src*="noavatar.png"] {
  height: 40px;
}


form div.activityContent {
  margin-bottom:50px;
}

.edit_section {
  display: none;
  height: 24px;
  line-height: 24px;
  margin: -19px 0 0;
  overflow: hidden;
  position: relative;
  visibility:hidden;
}

.edit_section a {
  background: transparent url($xwiki.getSkinFile('icons/xwiki/edit-section.png')) no-repeat left top;
  line-height: 999px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility:visible;
  width: 20px;
}

/* @group COMPONENTS*/
/* --------------XWiki items types list -----------------*/
ul.xlist {
  overflow: hidden;
  padding: 0 !important;
}

ul.xlist li.xunderline {
  border-bottom: solid 1px $theme.borderColor !important;
}

ul.xlist li.xhighlight:hover {
  background-color: $theme.highlightColor;
}

ul.xlist li {
  float: right;
  height: 100%;
  list-style-type: none;
  padding-top: .2em;
  width: 100% !important;
}

ul.xlist li.space, ul.xlist li.page, ul.xlist li.comment, ul.xlist li.attachment {
  background-position: 2px 3px;
  background-repeat: no-repeat;
}

ul.xlist li.space {
  background-image: url($xwiki.getSkinFile('icons/silk/folder.gif'));
}

ul.xlist li.page {
  background-image: url($xwiki.getSkinFile('icons/silk/page_white_text.gif'));
}

ul.xlist li.comment {
  background-image: url($xwiki.getSkinFile('icons/silk/comment.gif'));
}

ul.xlist li.attachment {
  background-image: url($xwiki.getSkinFile('icons/silk/attach.gif'));
  padding-bottom: 0;
}

ul.xlist li.create a {
  background: url($xwiki.getSkinFile('icons/silk/bullet_add.gif')) 7px 3px no-repeat;
  color: $theme.textSecondaryColor;
  text-decoration: none;
  padding-left: 1.5em;
}

ul.xlist li.xitem div.xitemcontainer {
  text-indent: 1.5em;
}

ul.xlist li.xitem div.xitemcontainer ul.xlist {
  text-indent: 0;
}

.xspacer {
  display: none;
}

/* @group forms */

.xform fieldset {
  margin: 2em 0;
}
.xform fieldset:first-of-type {
  margin-top: 1em;
}
.xform fieldset:last-of-type {
  margin-bottom: 1em;
}

.xform input[type="text"], .xform input[type="password"] {
  width: 99%;
}
/* Duplicated because IE6 chokes on the first two selectors. Don't recombine! */
.xform select, .xform textarea {
  width: 99%;
}

.xform .xRequired {
    color: #888888;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin-left: 1ex;
    text-transform: none;
}

.xform .xErrorMsg {
    color: #CC3333;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0.3em;
}

/* @group VERTICAL MENU */
/* General styling */
.vertical-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
.vertical-menu ul ul ul {
  margin-left: 0;
}

.vertical-menu li {
  border-top: 1px solid $theme.borderColor;
  position: relative;
  margin-left: 0px;
}

.vertical-menu span {
  background: none no-repeat scroll 7px transparent;
  display: block;
}

.vertical-menu a {
  display: block;
  padding: .5em .5em .5em 30px;
  text-decoration: none;
  word-wrap: break-word;
}
.vertical-menu .group:hover a{color: $theme.buttonPrimaryTextColor !important;}
/* Section titles */
.vertical-menu .group {
  background-color: $theme.panelCollapsedBackgroundColor;
  font-weight: 700;
  font-variant: small-caps;
}
.vertical-menu .group * {
  color: $theme.panelCollapsedTextColor;
}

/* Highlight items when hovering */
.vertical-menu span:hover {
  background-color: $theme.highlightColor;
}
.vertical-menu .group:hover {
  background-color: $theme.panelHeaderBackgroundColor;
}
.vertical-menu .group:hover * {
  color: $theme.panelHeaderTextColor;
}

/* Selected item */
.vertical-menu .current {
  background-color: $theme.highlightColor;
  font-weight: bold;
}
.vertical-menu .current-group {
  background-color: $theme.panelHeaderBackgroundColor;
  color: $theme.panelHeaderTextColor;
}
.vertical-menu .current-group *, .vertical-menu .current-group *:visited, .vertical-menu .current-group *:active {
  color: $theme.panelHeaderTextColor;
}

/* Draw an arrow pointing right for the selected item */
.vertical-menu .current:after, .vertical-menu .current a:after {
  border-left: 10px solid $theme.highlightColor;
  border-top: 1.2em solid transparent;
  border-bottom: 1.2em solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  top: 0%;
}
.vertical-menu .current a:after {
  border-left-color: $theme.borderColor;
  right: -11px;
}
.vertical-menu .current-group:after {
  border-left-color: $theme.panelHeaderBackgroundColor !important;
}

/* Livetable */
.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagesize,
.container-fluid .xwiki-livetable-pagination .xwiki-livetable-limits  {
  line-height:30px;
}

.container-fluid .xwiki-livetable-pagination .xwiki-livetable-pagination-text {
  display:none;
}

.container-fluid .controlPagination {
  width:200px;
  height:36px;
  line-height: 34px;
  padding: 0 14px;
}

.container-fluid .controlPagination a {
  position:relative;
  float:left;
}

.container-fluid .controlPagination a.prevPagination,
.container-fluid .controlPagination a.noPrevPagination,
.container-fluid .controlPagination a.nextPagination,
.container-fluid .controlPagination a.noNextPagination {
    background-image: none;
    height: auto;
    width: auto;
    padding-top: 5px;
}

.container-fluid a.noPrevPagination,
.container-fluid a.prevPagination{
    margin-left: 20px;
}

.container-fluid .pagination {
  margin:0;
}

.container-fluid a.prevPagination span,
.container-fluid a.nextPagination span,
.container-fluid a.noPrevPagination span,
.container-fluid a.noNextPagination span {
  display:block !important;
}

.container-fluid a.noPrevPagination,
.container-fluid a.noNextPagination {
  color: #BFBFBF;
  cursor:normal;
}

.container-fluid a.noPrevPagination:hover,
.container-fluid a.noNextPagination:hover {
  text-decoration:none;
}

.container-fluid table td.actions {
  padding: 10px 10px 9px;
  background: inherit;
}

/* Fix panels */

.xwikipanelcontents p span.panelitem {
  display:block;
}

.xwikipanelcontents p span.pitemseparator {
  display:none;
}

/* Fix content menu. */

#contentmenu .rightmenu {
  display:none; /* Just an empty content menu is not enough : the annotation app automatically recreates the menu if it does not exists. */
}

#contentmenu a.edit:after {
  content: "\270E";
  font-size: 40px;
  position: relative;
  top: 15px;
}

#contentmenu a.edit:hover {
  text-decoration: none;
}

div.main.layoutsubsection {
  position:relative;
}

#contentmenu {
  position:absolute;
  right:6px;
  top:52px;
}

/* Edition */

textarea#content {
  width:100%;
  color:#303030;
}

.metadata input#title {
  font-size: 32px;
  height: 36px;
}

.metadata .help-block {
  font-size: 11px;
}

form#edit div.metadata {
  margin-bottom:15px;
}

table.xRichTextEditorTabPanel {
  background-color:transparent;
}

.metamodifs,
#autosaveControl {
  display:none !important;
}

.edit-meta-tools {
  display:none !important;
}

#*
#xwikieditcontent .fullScreenEditButton {
  display:none;
}

.fullScreenWrapper #mainEditArea {
  overflow-y: auto;
  overflow-x: hidden;
}

.fullScreenWrapper ul.tabs {
  position:fixed;
  width:100%
}

.fullScreenWrapper div.pill-content {
  margin-top:45px;
}
*#


/* footer */

#footerglobal{margin-top:100px}
